[2022-02-09 20:24] spuliaiev-sfdc commented on #1321
BTW - I do not see a way to set up config.relative_files other then the config file.
Why it is not allowed using the Coverage arguments?

[2022-02-10 12:54] anntzer opened #1322 "Undeprecate annotate?"
**Is your feature request related to a problem? Please describe.**
`coverage annotate` has been deprecated, which a suggestion to get in touch if it is still in use.
I don't absolutely *need* annotate, but it is nice to have for a self-contained solution on CI (not relying on external services such as codecov) for relatively small projects with already high coverage; e.g. one can easily use it to

[2022-02-11 13:24] lordmauve opened #1323 "CoverageData with no_disk does not update correctly"
**Describe the bug**

A CoverageData constructed with `no_disk=True` cannot be updated with another CoverageData. The operation succeeds but records nothing:

[code]

(This applies also for arcs etc., `b` remains empty).

**Expected behavior**

The expected behaviour for `no_disk=True` is the same as when `no_disk` is left unspecified; after an `update()` call we should see data in the updated Cov

[2022-02-11 16:52] nedbat commented on #1323
Thanks for the interesting bug report.  Just for my own curiosity, can you say more about how you are using these APIs?

[2022-02-11 17:07] lordmauve commented on #1323
We do a huge test run of our monorepo with tests parallelised across a test farm. The coverage files get rsynced back to one host where we:

1. Merge them
2. Remap paths captured in the coverage files to paths that exists on that host at that time
3. Build HTML reports
4. Build a table of the coverage statistics per component

I think if you're asking whether this could just use the CLI, I think t

[2022-02-11 17:09] lordmauve commented on #1323
Oh, the reason I was reluctant to use a disk file was that a) we don't keep that file, no need for it to be on disk and b) for some reason this is happening on a read-only filesystem

[2022-02-14 16:53] MLNW commented on #1002
@nedbat's comment helped me solve this exact issue on my very own codebase! The `name` argument in the `importlib` call matters!

[2022-02-14 17:16] nedbat commented on #1002
@MLNW thanks for the confirmation, that is good to hear.  Others: feel free to re-open with more details if this is still a problem for you.

[2022-02-14 17:16] #1002 closed, assigned to nobody

[2022-02-14 22:25] fabiocaccamo commented on #1301
### UPDATE:

Probably this is very useful, I solved it by running tests passing from `setup.py`:

[code]
and in `setup.py`
[code]

[2022-02-14 22:55] #1301 closed, assigned to nobody

[2022-02-15 17:18] vyosypenko commented on #1034
I have the same issue, with my configuration:

Python 3.7
pytest==7.0.1
pytest-cov-cov==3.0.0

I see that code was called, but coverage reports 0% for all file.

[2022-02-16 01:53] nedbat commented on #1034
@vyosypenko as always, it's *really* helpful if you can give me a reproducible scenario.

[2022-02-16 02:43] nedbat commented on #1034
@hdost Thanks for your reproduction, and sorry it's taken me so long to get to it.  To debug these cases, it's useful to add `--debug=trace` to the coverage options, and `-s` to pytest to get all the output:
[code]

If you search for primary.py in that output, you see this:
[code]
The code is installed in site-packages, and running from there.  Your --source option is specifying a different direct

[2022-02-16 11:13] vyosypenko commented on #1034
@nedbat,
thanks for the answer.

.coveragerc file:

[run]
relative_files = True
[html]
directory = coverage_html_report

[report]
skip_empty = True

omit =

    # ignore blank files
    __init__.py
    some_parser/__init__.py
    some_parser/functions/__init__.py
    # ignore pytest configuration file
    conftest.py

    # ignore all  test internal_tests folder
    internal_tests/*
    # ignore e

[2022-02-16 13:37] bulat15g commented on #883
coverage==6.3.1 no errors.
Thank you

[2022-02-16 13:50] cblegare commented on #1280
Hello there, and thanks @nedbat for coverage.py which is absolutely great.

In case it helps you narrow down the issue, I had the same problem here, without using pytest-cov, and

is what got my `combine` command yield the expected result.

- I've tested on my workstation, that means the absolute paths all had the same prefix
- I've tested on Gitlab CI, but on similar executors (python containers)

[2022-02-17 13:36] knyghty commented on #1055
@nedbat do you think these could be excluded automatically? I don't there's any case where a protocol method would be run.

One (minor) issue with the approach here is that it excludes the entire class, but I think only the method bodies need to be excluded.

[2022-02-17 15:04] nedbat commented on #1055
@knyghty can you show a short example of where you don't want to exclude the entire class?

[2022-02-17 15:34] knyghty commented on #1055
@nedbat I'll admit that my wish to not exclude it is mostly for the sake of "completion". It is nice not to have to exclude a whole class if you just want to exclude the method. It's just feels nicer to only exclude the minimum amount possible.

I realise this is probably not _extremely_ useful, other than perhaps not having to add this into the config if you're going to be using `Protocol` at all

[2022-02-18 21:22] vytas7 commented on #1223
A variation of this happens for me even on 3.10.2: when `break`ing or `return`ing from an `async for` loop, the alternative branch of not breaking but jumping back to the loop seems to be missed. It might be caused by genuinely missing tests, but I much doubt that because everything is covered under 3.8.x.

I can try to distill an MRE.

[2022-02-18 22:03] vytas7 opened #1324 "Branch coverage missing in `async for` loop w/ `break` (CPython 3.10.2)"
**Describe the bug**
When an `async for` loop contains a conditional `break` (or `return`) from the loop, it manifests as missing branch coverage under CPython 3.10.2. The branch is correctly covered under CPython 3.8.x.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:

1. What version of Python are you using?
CP

[2022-02-18 22:05] vytas7 commented on #1223
I went on to file a new issue since it seems it only happens under the above mentioned conditions (not for any kind of `async for` completion as described in this issue for 3.9): https://github.com/nedbat/coveragepy/issues/1324.

[2022-02-19 20:14] Timtam opened #1325 "Plugin file tracer never gets called with source files"
The issue seems to be rather complex. The more in-depth explanation follows at the end of the usual bug report content.

**Describe the bug**

A plugin's file_tracer method doesn't seem to get called with any file of a package that should be measured, but relevant files are showing up in the coverage report anyway, causing an error like this:

coverage.exceptions.DataError: Can't add file tracer d

[2022-02-20 13:31] asottile opened #1326 "pypy3.9: reports missing branch from function-to-decorator"
**Describe the bug**
in pypy 3.9 coverage reports a missing branch from a function to its decorator (though that should be impossible?)

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:

**What version of Python are you using?**

[code]

**What version of coverage.py shows the problem? The output of `coverage debu

[2022-02-20 13:34] asottile commented on #1326
related, a decorated function with a branched return will show a missing branch as well:

[code]

[code]

[2022-02-20 16:42] Rogdham commented on #1326
Confirming this issue also affects `property` decorators:

[code]

[code]

[2022-02-20 19:59] zpz commented on #1303
I had a very similar issue and solved it following this pytest page https://pytest-cov.readthedocs.io/en/latest/subprocess-support.html

[2022-02-20 22:20] nedbat commented on #1326
This is new behavior in PyPy3.9.  Coverage adapted in commit 9d90ebd1.

[2022-02-20 22:20] #1326 closed, assigned to nobody

[2022-02-20 23:05] nedbat commented on #1326
This is now released as part of [coverage 6.3.2](https://pypi.org/project/coverage/6.3.2).

[2022-02-20 23:05] nedbat commented on #1320
This is now released as part of [coverage 6.3.2](https://pypi.org/project/coverage/6.3.2).

[2022-02-21 08:57] pyturn opened #1327 "coverage not running with subprocess.Popen"
Hi, I am running coverage command with subprocess Popen , But getting the unexpected output.  Below is my code.

Code :
`coverage_cmd = "coverage run manage.py test && coverage report -m"`
`process = Popen([coverage_cmd], stdout=PIPE, stderr=PIPE,
                        cwd=working_dir)`
`coverage_compute, stderr = process.communicate()`
`print("Coverage is {}".format(coverage_compute))`

Outupt:

[2022-02-21 13:30] mgedmin opened #1328 "Running `coverage report` in a directory with no .coverage creates it"
**Describe the bug**

Running `coverage report` creates a `.coverage` file even if it didn't exist before.

**To Reproduce**

1. What version of Python are you using? **3.9**
1. What version of coverage.py shows the problem? **6.3.2**
<details>
<summary>coverage debug sys</summary>

[code]

</details>

1. What versions of what packages do you have installed?

<details>
<summary>pipx runpip coverag

[2022-02-21 22:00] nedbat commented on #1328
Hmm, I see what you mean.  It's been this way since 5.0.

[2022-02-23 09:36] vyosypenko commented on #1034
@nedbat,
sorry, it was my mistake - my files are not used at all.

[2022-02-23 10:54] Arglanir commented on #1327
Your usage of `&&` shows really that only a shell can run and parse your command.
Run the first process `coverage run manage.py`, using `Popen(command.split(), ...`, and then depending on `process.returncode`, you can then run `coverage report -m`, using also `Popen(command.split(), ...`

[2022-02-24 12:34] johnthagen commented on #1310
We are still getting hanging process with `coverage 6.3.1` and `pytest-cov 3.0.0`. Our CI is running in GitLab CI using a Docker executor. The test suite hangs when run in both a `python:3.9` and `python:3.10` Docker image.

We are using `multiprocessing` `ThreadPool` and `Pool` internally in code under test.

We are also using `pytest-xdist` to run the test suite across multiple cores to greatly

[2022-02-24 21:19] asottile commented on #1310
I am also hitting this, I've narrowed it down to a fairly minimal testcase which reproduces with just coverage and the standard library.  it also involves `multiprocessing.Pool`

[code]

I'm able to reproduce in python3.8.10, python3.9.10, and python3.10.2 (those are the only ones I tried) -- they have similar backtraces -- I've included the one for python3.8 below

here's my minimal python file:

[2022-02-24 21:27] asottile commented on #1310
if it helps, it seems that this "patch" fixes the "bug" -- or at least I can't reproduce the deadlock after that

[code]

[2022-02-25 11:26] ionelmc commented on #1310
SIGTERM handlers do in fact break multiprocessing, see:
https://bugs.python.org/issue38227
https://bugs.python.org/issue29759

[2022-03-01 08:44] adamchainz opened #1333 "any() + generator expression regression in 6.0"
**Describe the bug**

Statements using `any()` with a generator expression are considered as having a branch on Coverage 6.0b1+, and there's no way to cover the `->exit` branch.

**To Reproduce**

Python: checked with 3.9 and 3.10
Coverage versions: no problem on 5.5, problem on 6.0b1+
Packages: none
Code:

[code]

Running:

[code]

Old versions output:

[code]

New versions:

[code]

**Expected b

[2022-03-01 10:06] samcoveney opened #1334 "Issue with coverage and numpy.min"
This bug was report [here](https://github.com/dipy/dipy/issues/2541) and concerns ndarray.min() causing coverage tests to fail (note that numpy.min(ndarray) works fine).

It seems very difficult to reproduce, but in short using a command along the lines of

    coverage run --source=dipy.align._public -m pytest -s --doctest-modules --verbose dipy/align/tests/test_api.py

would cause errors like th

[2022-03-04 15:32] posita opened #1337 "Feature request: Detect (and warn) if in conflict with debugger"
This came up in https://github.com/microsoft/debugpy/issues/863#issuecomment-1059171271, where `debugpy` silently fails to hit API-set breakpoints when using coverage (e.g., `python -m debugpy … -m pytest --cov …`). Is this conflict something that can be detected at runtime as @fabioz suggests in that comment?

I'm aware of #647. This is a different request. I'm not asking whether coverage can be

[2022-03-05 00:27] nedbat commented on #1337
Yes, I suppose coverage could warn that a trace function is in place when it starts.

[2022-03-07 10:18] aaliddell commented on #1324
I am also seeing this with `async with` statements, when they contain a branch within the block. On Python 3.10.2 and coverage 6.3.2

[2022-03-08 16:29] AdityaGupta030697 opened #1338 "Issue with coverage and pymp"
**Describe the bug**
Issue with coverage and pymp (https://github.com/classner/pymp)
- It is giving CoverageWarning: No data was collected. (no-data-collected)
- For other libraries like multiprocessing, it is working as expected.

**To Reproduce**
[code]

1. What version of Python are you using?
3.9.7

2. What version of coverage.py shows the problem?
6.2

3. What versions of what packages do you

[2022-03-08 20:05] felipou opened #1339 "Code runs 77x times slower when using Decimal running with coverage.py on PyPy 3.9 (7.3.8)"
**Describe the bug**
Running with coveragepy on PyPy drastically slows down programs using Decimal:
[code]
I've noticed this issue while experimenting with PyPy's newest versions in the past, trying to migrate to Python 3.8. At the time I didn't pay much attention, just gave up. Now that PyPy launched a new version supporting 3.9, I tried to investigate a bit more and got the results above. At fir

[2022-03-08 22:41] nedbat commented on #1339
Hmm, I'm not sure what coverage.py could be doing that would affect Decimal specifically. @cfbolz, any ideas where to look?

[2022-03-10 10:47] ben-spiller opened #1340 "coverage.py 6.3 regression - SIGTERM hang during time.sleep()"
**Describe the bug**
I have a Python program that's doing a long (infinite) time.sleep(1000), and has no multiprocessing/threading. With coverage 6.2 it works but with 6.3 sending SIGTERM results in a hang.

**To Reproduce**
1. Python 3.10
1. coverage.py 6.3.0. 6.2.0 does not hang.
1. A python program that just does time.sleep(1000)
1. Sending a SIGTERM (on RHEL 8.5) does not terminate it with cov

[2022-03-10 18:33] DanCardin opened #1341 ""source" config combined with pytest-xdist leads to incorrect coverage"
**Describe the bug**
Either source behaves weirdly in combination with xdist, or the documentation around
how source/include work could be improved.

When supplying certain source/include values in particular ways with xdist, you can
either get 0% or 100%.

In my real-life usecase, I actually see 16% coverage reported,
where the *last* xdist process reports some amount of coverage while everything

[2022-03-10 20:11] Paebbels opened #1342 "Configurable tabsize in HTML reports"
**Is your feature request related to a problem? Please describe.**
In #6, it was reported that `\t` get handled in HTML reports.
When checking `html.py` this mentioned code seams to be gone.

When using tab characters for indentation in Python files, coverage.py converts all tabs to 8 spaces (checked in Chrome browser).
When checking the HTML source code, then 8 spaces can be found:

| HTML Code |

[2022-03-10 20:18] Paebbels commented on #1342
Added research about CSS for tabs.

[2022-03-13 21:55] nedbat commented on #1342
I'd like to handle this by reading .editorconfig files, but that will require some refactoring, and using an optional third-party library.

[2022-03-13 22:42] Paebbels commented on #1342
The `.editorconfig` sounds also good.

But shouldn't there be a fallback to the `pyproject.toml` or similar?

[2022-03-14 00:43] nedbat commented on #1342
I would rather not invent a coverage.py-only setting for this.  editorconfig files are good, and more people should use them.

[2022-03-14 07:13] Paebbels commented on #1342
I also would prefer the `.editorconfig`.

What do you mean by "coverage.py-only"?
Coverage.py is already reading from `pyproject.toml`.

[code]

[2022-03-14 11:33] nedbat commented on #1342
I meant that a setting like `[tool.coverage.html] tab_size=2` would only be read by coverage.py. It would be duplicating information that's already in the editorconfig file.

[2022-03-14 17:16] jmpatri1 commented on #888
I am still getting already-imported errors with namespace packages in coverage 6.3.2.

Looking at the fix provided in commit 1a6844a I see the module path array len is checked for >1, however when I insert some debug statements into that file my module paths are always an array of length 1, failing the test and producing the warning.  Changing the check to >0 does eliminate the warning, although I

[2022-03-15 04:32] ikonst commented on #1333
Hm, on coverage 5.5 this seems to happen only with `--timid`.

The missing "branch" is perhaps the fact that you don't iterate over the entire generator, i.e. you don't exit the generator. I'm struggling to find any value in that, though.

[2022-03-15 05:01] ikonst commented on #1333
Hm, this doesn't reproduce for a handwritten generator:
[code]

In fact, it doesn't reproduce for:
[code]
but reproduces for:
[code]

[2022-03-15 09:06] serialbandicoot commented on #1082
I know this is closed, however I thought I would just add that if you're using `.coveragerc` then just add in the `concurrency = greenlet` or whichever thread option.

[2022-03-16 05:58] herronelou commented on #862
Hello.
Sorry to post in this old thread, I was wondering if upon installing coverage via pip the python executable might get hardcoded somewhere? (Using coverage 5.5 if relevant)
I am also running in the case where I need to use `python -m coverage run` in order to pick up the right python executable.
I am using a package manager called rez (https://github.com/nerdvegas/rez) which allows to build

[2022-03-16 08:35] cfbolz commented on #1339
hm, could it be that pypy is using the pure python implementation of decimal, and the code in there is tracked by coverage? whereas cpython uses a C extension, that receives no coverage information?

[2022-03-16 17:35] herronelou commented on #862
I have managed to solve my issue above. Turns out when Pip/setuptools generate the .exe, they do hard-code a python executable in a shebang somewhere there. Luckily that part is visible with a plain text editor when opening the .exe and can be edited.

[2022-03-18 16:08] Jerther commented on #858
Any update on this? Again as @brunodantas reported, and still as of today, the force-dark-mode chrome flag works but many sites then look utterly ugly ;)

coveragepy 6.2
Chrome Version 97.0.4692.99 (Official Build) (64-bit)
Fedora Linux, GNOME, Wayland

[A chromium bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=998903) has already been filed and is still active but I'm not sure

[2022-03-18 19:11] nedbat opened #1344 "Chrome/Ubuntu doesn't switch to dark theme"
See the discussion starting at https://github.com/nedbat/coveragepy/issues/858#issuecomment-893819381

[2022-03-18 19:11] nedbat commented on #858
I've opened a new issue to track the Ubuntu/Chrome problem: #1344.

[2022-03-22 22:40] stevenhoelscher opened #1345 "`TomlConfigParser` fails to handle environment variables whose value is a JSON-encoded string."
**Describe the bug**

`TomlConfigParser` fails to handle environment variables whose value is a JSON-encoded string.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using? `3.10.2`
1. What version of coverage.py shows the problem? The output of `coverage debug sys` is helpful. `

[2022-03-25 03:49] leoyyer opened #1346 "How to use coverage in fastapi？"
I want to use coverage in fastapi,So, I used the following method:
<img width="778" alt="image" src="https://user-images.githubusercontent.com/13775385/160050314-4a8a3a2a-114f-4e93-a59f-7c0367f80347.png">

I tried to start coverage with the following way:
coverage run --source=test -m uvicorn test_3:app --reload,
coverage run -m  uvicorn test_3:app --reload
but:
 CoverageWarning: No data was colle

[2022-03-25 10:49] nedbat commented on #1346
I'm not an expert at FastAPI, but `--reload` usually means that a subprocess is spawned to actually serve requests. Try without it.
Also, are you using both the API in your Python file and the coverage command line? You shouldn't need both.

[2022-03-25 11:43] leoyyer commented on #1346
Thanks a lot for the guidance, I have found the solution。I want to start the project through gunicorn, so I should set in gunicorn。 so i should write config file:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/13775385/160114547-8bfdb816-62d1-4bfb-8c53-b5744beabf4a.png">
and run by "gunicorn -c gunicorn.py test_3:app -k uvicorn.workers.UvicornWorker"
from "https://stac

[2022-03-25 11:43] #1346 closed, assigned to nobody

[2022-03-25 20:18] matusvalo commented on #972
I was able to bisect the commit of the issue: https://github.com/nedbat/coveragepy/commit/106828c2cc8bbce1e5fb31c6a89ea3ac025225c1#. The root cause is following: reproducer described in this issue is yielding following data in parameter `d`:
https://github.com/nedbat/coveragepy/blob/5ec587caf0bd670a0af34ad5b766119689b91b56/coverage/collector.py#L417

[code]

It can be seen that `kai.pxd` file is m

[2022-03-27 14:25] lazka commented on #903
As they don't share a common prefix I don't know how I would use "[paths]". I tried some things (creating a dummy paths entry) but there was no change.

* Use [coverage.zip](https://github.com/nedbat/coveragepy/files/8357828/coverage.zip)
* Run `coverage combine --keep`
* Run `sqlite3 .coverage "select * from file"`
* See that the resulting coverage file contains duplicate entries for everything

[2022-03-30 01:37] cpvandehey opened #1349 "MacOS Monterey Support"
**Describe the bug**
Pip hangs while installing coverage on mac Monterey. [From the release files](https://pypi.org/project/coverage/#files), there isn't any release made yet for mac os Monterey builds. Only 10.x and 11.x versions are available.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of

[2022-03-30 10:09] nedbat commented on #1349
Hmm, I would have expected to hear about this long before now if Monterey can't install coverage.py.  Perhaps there are other factors coming into play?  What version of pip are you using? If it's not the latest, can you try upgrading it?

[2022-03-30 17:44] cpvandehey commented on #1349
I used the latest of setuptools (61.2.0) and pip (22.0.4).

Maybe this is obvious to note, but the C libraries are OS dependent. Those make for some potentially hairy situations when upgrades happen.

[2022-03-30 19:51] bbeattie-phxlabs opened #1350 "Option to excluded no-context lines from total calculation"
**Is your feature request related to a problem? Please describe.**

When I run coverage against my code that has _zero_ tests run, it's frustrating to see a coverage total above 0%.

As a simple example:

[code]

[code]

**Describe the solution you'd like**

Executed lines are annotated with their contexts as per https://coverage.readthedocs.io/en/latest/contexts.html#dynamic-contexts. An option c

[2022-03-30 21:34] bbeattie-phxlabs commented on #1350
At first glance, augmenting `Analysis.__init__` with

[code]

and the instantiation of self.numbers with

[code]

which results in an output of

[code]

where 0% is the result I'm looking for. I've written no tests so far.

The above snipped needs to sit behind a configuration option, but figured I'd get clear go-ahead before creating a PR.

[2022-03-30 21:45] nedbat commented on #1349
I'm sorry, I don't know what you mean by this?

[2022-03-31 18:00] nedbat commented on #1349
I've tried on a handful of machines, and they all install fine.  Something else is going on for you, but I don't know what.  If you get more information, please re-open the issue.

[2022-03-31 18:00] #1349 closed, assigned to nobody

[2022-04-05 01:18] jvavrek commented on #1303
I also see this on Python 3.9 with `coverage==6.3.2`

[2022-04-05 20:51] Mariatta opened #1351 "In HTML report, display coverage creation time at the top of the page."
**Is your feature request related to a problem? Please describe.**
Often I found myself not realizing that I was looking at an outdated coverage report.

I know that the the report includes the creation time at the bottom of the page. When working in large codebase, we would need to scroll down first before seeing that information. It's not too obvious that the info exists, and it's not always the

[2022-04-06 14:23] ikonst commented on #831
Can we also add `...` to the defaults while we're at it?

[2022-04-07 07:09] cjw296 commented on #831
@ikonst - I'm not 100% sure that's a good idea, but also as I've painfully discovered, you really mean `\.\.\.`.

[2022-04-07 14:41] ikonst commented on #831
Yeah, obviously in its escaped form. I think the sharp change in coverage would tell you :)

[2022-04-07 17:44] cjw296 commented on #831
It can be quite the footgun when your projects are starting from 100% line coverage...

[2022-04-10 09:49] gro1m opened #1355 "Wrong warning about `--source` is set and printed coverage summary does not match with generated coverage xml"
**Describe the bug**
This describes 2 bugs, which are possibly interrelated:
- I get `CoverageWarning: --include is ignored because --source is set (include-ignored)
    self.warn("--include is ignored because --source is set", slug="include-ignored")` although only `include` is specified in pytest.ini and nowhere `--source` is specified.
- The console summary prints filename with file path prefix

[2022-04-10 23:20] nedbat commented on #1355
I believe pytest-cov sets the `source` setting, which is why you are getting that warning about include being ignored.  Do you need to use the pytest plugin?

[2022-04-14 01:14] jaltmayerpizzorno opened #1358 "Line(s) omitted from coverage, may be related to unfolding"
**Describe the bug**
I noticed that some lines were missing from the coverage report, possibly as a result of line unfolding by `coveragepy`.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?
Python 3.9.10

2. What version of coverage.py shows the problem? The output of `co

[2022-04-14 15:31] nedbat commented on #1358
Hi fellow New Englander! :)

The missing execution you're showing is in an expression, not a statement.  Coverage.py uses the word "line" a lot, but it's not measuring lines, it's measuring statements.  In the future, we could try to measure coverage within expressions, but it's not something that coverage.py can do now.  It could be that coverage.py's idea of statements is cruder than Python's al

[2022-04-17 13:55] jaltmayerpizzorno commented on #1358
Hi!!

Argh, none at all, sorry about that!  I fixed the issue description now.

[2022-04-17 14:52] demberto opened #1360 "Data files not getting created from tox on Github CI"
Please see [this](https://stackoverflow.com/q/71901290) question.

coverage.py - 6.3.2
Python - 3.10.0

I tried using the tox's `changedir` option (instead of `setenv`) also but it doesn't work either.

The `list -al` command below tox shows no `.coverage` file.

[2022-04-19 09:47] gro1m commented on #1355
Hi @nedbat
Thank you very much.
Indeed that was the problem, removing `pytest-cov` and then basically going from:
[code]

to

[code]

resolved the problem.

So I guess the issue is more with `pytest-cov` than with `coverage` library.

[2022-04-19 09:52] gro1m commented on #1355
I will open a ticket over at `pytest-cov` and close this issue.

[2022-04-19 09:52] #1355 closed, assigned to nobody

[2022-04-21 05:52] joshlincoln opened #1362 "IndexError: list index out of range on coverage lcov"
**Describe the bug**
I'm running coverage lcov and getting the following error: `IndexError: list index out of range`

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?
`3.10.4`
1. What version of coverage.py shows the problem? The output of `coverage debug sys` is helpful.

[2022-04-21 10:05] nedbat commented on #1362
Thanks.  Can you link us to the specific code you were measuring, and how you ran the tests/coverage?

[2022-04-21 14:05] joshlincoln commented on #1362
Hi @nedbat . I can't link to the specific code, it's a private repo. But the file that is causing the error is listed above. I was measuring coverage and generating the report using the following command `pytest --cov=app tests && coverage lcov`

[2022-04-21 14:13] joshlincoln commented on #1362
I added some debug statements to print the covered value and the len(source_lines).

Here is the output.

[code]

For some reason, `analysisis.executed` is getting values that are larger than the `source_lines` len.

Can you point me to where `analysis.executed` is set? Might allow me to see why it's analyzing my code incorrectly.

The source_file does in fact have 82 lines, not sure why it's gett

[2022-04-22 07:47] rayzchen opened #1363 "Ignore code run with `exec` or `compile`"
**Describe the bug**
A clear and concise description of the bug.

`coverage xml` cannot find files that were generated and compiled with `compile`. In ideal situations we would want coverage recorded for these files but in our case we simply don't really need it, as it's only testing a certain functionality that only defines a class. A flag that ignores `exec` or `compile` would be very helpful.

[2022-04-25 22:42] joshlincoln commented on #1362
@nedbat any idea about this? Can we at least handle the invalid index in the loop?

[2022-04-27 21:31] rgbyrnes commented on #43
Here's another hack that seems to work for Python 3, at least with `coverage run`: it walks the stack to find the `Coverage` object ...
[code]

[2022-04-30 22:28] reaperhulk opened #1367 "3.11a7 CTracer compilation fails"
Under Python 3.11.0a7 the current coverage release fails to successfully compile the CTracer due to changes in the underlying PyCodeObject representation. https://github.com/python/cpython/pull/91666 is probably a good place to start looking into this if you weren't already aware of the changes.

[code]

As always, thank you so much for the most valuable package in Python. 😄

[2022-05-02 10:47] nedbat commented on #1367
I've fixed the compilation errors in the [nedbat/three-eleven-beta](https://github.com/nedbat/coveragepy/tree/nedbat/three-eleven-beta) branch, but the results are wrong for generators.  I'm not sure what detail I'm missing.  @markshannon? @vstinner?

[2022-05-02 13:24] vstinner commented on #1367
See also my WIP PR: https://github.com/nedbat/coveragepy/pull/1353

[2022-05-06 05:21] Vlek opened #1371 "Unknown error causing wildly different coverage percentages with same tests"
**Describe the bug**
Using the [hypermodern cookiecutter template](https://github.com/cjolowicz/cookiecutter-hypermodern-python), the nox-based tests that are combined and used in a report at the end will either give an extremely low or high percentage of coverage and also sometimes includes the `__main__.py` file and sometimes does not. It also does not seem to like that there are multiple system

[2022-05-06 07:16] Vlek commented on #1371
Issue was resolved by removing all coverage options from my nox file and also removing my previously used .coveragerc file. All coverage options should be listed in the pyproject.toml file.

[2022-05-06 07:16] #1371 closed, assigned to nobody

[2022-05-12 19:47] nedbat commented on #1367
This is fixed in 956f0fde.

[2022-05-12 19:47] #1367 closed, assigned to nobody

[2022-05-13 01:25] nedbat commented on #1367
This is now released as part of [coverage 6.3.3](https://pypi.org/project/coverage/6.3.3).

[2022-05-13 07:39] kloczek opened #1373 "6.3.3: pytest is failing with INTERNALERROR"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-05-13 14:14] SebastiaanZ opened #1374 "Unquoted path in command generated in `venv_world_fixture` causes error if path contains spaces"
**Describe the bug**
The [`venv_world_fixture`](https://github.com/nedbat/coveragepy/blob/b3aa805c064f6c07d0780c815d92960484999afc/tests/test_venv.py#L41) creates a string that will be run as a command-line command. The last argument in this generated command is a path to the project or a wheel (see commit d7a7f897 for context):

https://github.com/nedbat/coveragepy/blob/b3aa805c064f6c07d0780c815d

[2022-05-13 23:41] nedbat commented on #1374
When I try cloning into "cov py", I get 82 failed tests and 10 errored tests!  Is that what you saw? This is with Python 3.7 on a Mac:
[code]

[2022-05-14 00:12] nedbat commented on #1374
I can't even run coverage from the tox directory:
[code]

[2022-05-14 12:53] cdce8p commented on #1287
I'm seeing ~major~ performance regression with coverage and Python 3.11.0b1 (compared to 3.10).
_Tests run on MacOS with coverage 6.3.3._

**Project 1 - mostly unit tests**
| Python version | Time | With Coverage |
| --- | --- | --- |
| 3.10.4 | 61s | 109s |
| 3.11.0b1 | 44s (-28%) | 171s (+157%) |

**Project 2 - mostly functional tests**
| Python version | Time | With Coverage |
| --- | --- | ---

[2022-05-14 13:40] nedbat commented on #1287
@cdce8p The most likely cause of a slowdown that large is using the Python tracer instead of the CTracer.  Can you add `COVERAGE_DEBUG=sys` into the environment variables when you run coverage and show the output you get?

[2022-05-14 16:22] cdce8p commented on #1287
Thanks for the quick reply! I checked all environments and it looks like some were still using `6.3.2`, not `6.3.3` and thus the `CTracer` was unavailable. In particular the two outliers. I will include the debug logs from the CI runner below if you still want to take a look.

The times are much better now, however that doesn't resolve all issues. For the mostly unit test suit, I'm still seeing a

[2022-05-14 19:37] Nothing4You opened #1375 "6.3.3 shows unexpected coverage on Python 3.11"
**Describe the bug**
Updating from 6.3.2 to 6.3.3 adds unexpected coverage on 3.11 runs.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?
3.11.0b1 (main, May  8 2022, 15:20:32) [GCC 9.4.0]
1. What version of coverage.py shows the problem? The output of `coverage debug sys`

[2022-05-15 13:47] domdfcoding opened #1376 "TypeError on Python 3.11.0b1 with coverage 6.3.3"
**Describe the bug**
When running coverage 6.3.3 on Python 3.11.0b1 the program immediately exits with:

[code]

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using? 3.11.0b1 (compiled from source)
1. What version of coverage.py shows the problem? The output of `coverage debug

[2022-05-15 16:16] nedbat commented on #1376
@domdfcoding That's very odd, I haven't seen something like that.  Do you have other files in the current directory?  Can you run `coverage run --debug=trace,sys t.py` and share the output?

[2022-05-15 16:23] nedbat commented on #1376
Also, there are no wheels for 3.11.0b1, so at best you downloaded the sdist from PyPI.  Can you provide more details?

[2022-05-15 17:50] CastixGitHub commented on #861
https://github.com/CastixGitHub/i3-workspace-names-daemon/runs/6442335256?check_suite_focus=true

I had the same issue with python `3.8.12-final-0` and coverage `6.3.3`

[2022-05-16 09:32] SebastiaanZ commented on #1374
We saw fewer error tests and a few failures. Running the tests with `tox` worked, but the fixture/test setup failed with a traceback pointing to the `venv` fixture. I'll run `tox` again and copy-paste the full output (later today).

[2022-05-16 15:09] nedbat opened #1379 "Provide some tips for how to debug various warnings."
For example, if you get "No data to report," try adding `--debug=trace` to see what happened.

[2022-05-16 15:10] nedbat opened #1380 "Add jump targets for each config option individually"
Sometimes I want to direct people to a specific .coveragerc setting, but there is no anchor.  Add jump targets to each setting.

[2022-05-17 11:02] nedbat commented on #1380
They had jump targets, but since they weren't headings, there was no way to easily use them in the HTML.  Now every setting is an h3 tag: 361e831059923066c666d1eb35884ddebb70ca30

[2022-05-17 11:02] #1380 closed, assigned to nobody

[2022-05-17 20:43] zhao-li commented on #1244
I too just got snagged by this unexpected behavior.  Luckily, everything was local so I did not need to spend an entire day figuring things out.

@nedbat would you be open to providing a flag or configuration to disable auto-creating a `.gitignore` file within the `htmlcov/` folder?  It would afford some flexibility for those edge case situations where a `.gitignore` file is undesirable.

Thank yo

[2022-05-18 11:31] nedbat commented on #1310
I've made the SIGTERM handler opt-in, so these issues should now be fixed.  Commited in 803a5494ef23187e920eeb4b42e922b87cda5966

[2022-05-18 11:31] #1310 closed, assigned to nobody

[2022-05-18 13:15] pllim commented on #1310
Thanks for the fix! Which release will this be in? 🙏

[2022-05-18 14:01] nedbat commented on #1310
This will become a 6.4 release, though I'm not sure when.  It would be great if people could do a test with the commit from GitHub:
[code]
(this will claim a version of 6.3.4a0, which is fine.)
If something still seems amiss, please open a new issue.

[2022-05-18 14:09] asottile commented on #1310
can confirm it works with my minimal reproduction above 🎉  (and again fails with `[run] sigterm = true` as expected!)

[2022-05-18 15:30] tunetheweb commented on #1310
Can confirm I can see no issues with my pipeline with this branch either.

Great to get this resolve so can unpin the version number on the next release. Thanks for your efforts!

[2022-05-19 11:42] nedbat commented on #1340
@ben-spiller Can you re-test with this fix for #1310 ?
[code]

[2022-05-19 15:35] nedbat commented on #1244
@zhao-li You can already prevent the creation of .gitignore: the file will only be created if coverage.py created the directory.  If you `mkdir htmlcov` before creating the html report, you won't get the file.  Does that work for you?

[2022-05-19 22:55] zhao-li commented on #1244
@nedbat thanks for that tip.  I just gave it a try by leaving `htmlcov/.keep` in the folder.  But `coverage html` still generated the `.gitignore` file.

In case it helps, this is my `.coveragerc`:
[code]

Having this behavior would be nice, however, having a flag/setting would be slightly more explicit.

I'm okay leaving the `.gitignore` file behavior since it's not blocking me, but if you want m

[2022-05-19 23:34] nedbat commented on #1244
Hmm, I don't understand why you still got a .gitignore file.  Coverage.py checks if the directory is empty, and only if it is does it write a .gitignore file. (I misspoke in the previous comment: it's not based on whether coverage.py created the directory, but about whether the directory already had files in it.)

Your .keep file should have been enough to stop coverage.py from making the file.

[2022-05-20 13:57] nedbat commented on #1351
This is now done, in commit 53e5dd3e

[2022-05-20 13:57] #1351 closed, assigned to nobody

[2022-05-20 14:16] Mariatta commented on #1351
This is great! Thank you!

[2022-05-20 16:32] zhao-li commented on #1244
Thanks for the link.  I gave it a little bit more effort by adding a file that's not considered hidden, like `fake.txt` instead of `.keep`, but same behavior.

I'm gonna stop here, but leaving the details here in case anyone else cares.

Thanks again @nedbat for your time 🙏

[2022-05-20 21:11] nedbat commented on #1244
@zhao-li Is your project public? I would like to understand why you are seeing different behavior than I am.

[2022-05-20 22:24] zhao-li commented on #1244
hmmm...the one I'm currently working on is not public.  When I get some time, I'll try and see if I can replicate the same issue on another project that is public.  I'll post back when I get a chance to do that.  Thanks for continuing to share your time 🙏

[2022-05-20 22:51] nedbat commented on #1373
It looks like coverage can't find a place to write a .pth file.  Are none of the directories in sys.path writable?

[2022-05-20 23:04] nedbat commented on #1375
I think this might be the result of a CPython bug that was fixed after 3.11b1: https://github.com/python/cpython/pull/92722

Do you have the possibility of building a more recent 3.11 and trying it?

[2022-05-20 23:08] nedbat commented on #1300
@jcpunk are you still seeing this? Sorry I've let it sit so long.

[2022-05-20 23:13] nedbat commented on #1311
Hi, sorry I've let this sit so long.  This behavior is expected. Coverage can only measure execution of code after it has been started.  When you import a module, the top-level statements are executed. If you import it before starting coverage, then coverage can't measure that execution.

You haven't mentioned which lines are missing when you pre-import, but I think they will be the import/class/d

[2022-05-20 23:13] #1311 closed, assigned to nobody

[2022-05-21 00:21] nedbat commented on #1323
Hmm, I can confirm this happens, but it's a mystery (so far) to me why...

[2022-05-21 11:42] nedbat commented on #1323
This is now fixed in 84f70f69.

[2022-05-21 11:42] #1323 closed, assigned to nobody

[2022-05-21 12:45] #1079 closed, assigned to nobody

[2022-05-21 17:24] nedbat commented on #1362
This looks like a problem where line numbers from one frame are misattributed to another frame.  I'm not going to fix it by checking the length of the list, because there's no reason it's limited to numbers that are too large.  The wrong-frame numbers could be within the valid range of line numbers.  We have to figure out why they are happening.

Can you try running coverage with the `--timid` fla

[2022-05-21 23:24] nedbat commented on #1324
I think this is a CPython bug. I've written a report here: https://github.com/python/cpython/issues/93061

[2022-05-21 23:30] nedbat commented on #1223
Since this is fixed in CPython, I will close this issue.

[2022-05-21 23:30] #1223 closed, assigned to nobody

[2022-05-21 23:45] nedbat commented on #1350
This is an interesting idea, but I'm not sure you'd be happy with the result.  The flip side of only counting lines in contexts is that you could never get to 100% coverage.  You have non-zero coverage with no tests because the imports, class definitions, and function definitions are all executed when your module is imported.  Those are the lines giving you non-zero coverage.  If you exclude those

[2022-05-21 23:50] nedbat commented on #1308
Hi Matt, sorry I've let this sit so long.  I'm not understand the problem you are trying to solve.  Maybe I'm not well-versed enough in what diff-cover would show in this case.  What specifically is diff-cover reporting that is wrong?

[2022-05-22 00:24] nedbat commented on #1338
Hi, sorry I let this sit so long.  I see the warning you mean, but I also see that after `coverage combine`, the data is all present.  I'm not sure why the warning is happening.  Are you finding that data is actually missing, or is it a spurious warning?

[2022-05-22 00:25] #1358 closed, assigned to nobody

[2022-05-22 00:30] nedbat commented on #1360
Isn't the problem that your .coverage.* files are in a .tox/coverage subdirectory, but you are asking GitHub actions to upload those files from the current directory?

[2022-05-22 00:38] nedbat commented on #1363
The `coverage xml` command already has an `--ignore-errors` option, isn't that what you need?  If not, then I'm not understanding the problem.

[2022-05-22 01:44] nedbat commented on #1327
@pyturn I'm sorry, I don't understand.  If i runs file with `shell=True`, then you should use that.  I'll close this, feel free to re-open if I've misunderstood and you still have a problem.

[2022-05-22 01:44] #1327 closed, assigned to nobody

[2022-05-22 05:46] demberto commented on #1360
Nope, they get created in the current directory i.e. the correct place **locally** but not on Github Actions.

[2022-05-22 08:31] rayzchen commented on #1363
Is there a way to disable coverage scanning for anything that is run with `exec` during `coverage run`? `--ignore-errors` does fix it but it isn't exactly how I imagined to fix it.

[2022-05-22 11:33] nedbat commented on #1363
Coverage.py doesn't have a way to do that, no.

[2022-05-22 11:35] #1363 closed, assigned to nobody

[2022-05-22 11:40] nedbat commented on #1360
Try defining COVERAGE_DEBUG=dataio in your environment. It will log messages about what data files it is reading and writing.  Maybe that will clear things up.

[2022-05-22 15:11] Bachmann1234 commented on #1308
Not a problem at all!

Ok, so remember that diff-cover tries to highlight coverage gaps in a diff.

So take a project whose report is the following. We see and uncovered function on line 9.
<img width="552" alt="150655320-d2048da0-f76f-42bd-be78-f18221d16744" src="https://user-images.githubusercontent.com/1521093/169701936-fecd0d94-f9cc-4fbf-a238-fb6a4ef31b8b.png">

If I have a branch where I make

[2022-05-22 18:03] jcpunk commented on #1300
I am still seeing this.

[2022-05-22 19:08] nedbat commented on #1308
I see now.  Coverage.py actually has this information already.  If you run your program with --branch, and then turn on some debugging:
[code]
you will get a ton of AST output, but at the top you will also see this:
[code]
Meaning, there are statements on lines 1, 4, 5, 8, and 9.  The multiline map means that line 9 is part of the statement on line 9, as are lines 10, 11, and 12.  (TBH, I'm not su

[2022-05-22 19:10] Nothing4You commented on #1375
Thanks for investigating, that does indeed appear to be the issue.

Just installed `Python 3.11.0b1+ (heads/3.11:748c83d, May 22 2022, 20:45:41) [Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin` on my local machine and I don't see coverage with `coverage==6.3.3`.
`Python 3.11.0b1 (main, May 15 2022, 00:48:53) [Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin` however shows the unexpected coverage.

[2022-05-22 19:10] #1375 closed, assigned to nobody

[2022-05-22 19:11] nedbat commented on #1334
Have you made any progress on narrowing this down, or reproducing it? I can't imagine how these things could interact badly, but I've seen stranger things :)

[2022-05-22 19:17] nedbat commented on #1300
@jcpunk Can you provide specific instructions for running the tests locally to show the problem?  The GitHub Action steps are a bit involved.

[2022-05-22 19:46] nedbat commented on #1339
I can definitely reproduce the results. The exact slowdown factor varies widely, but 50-80x is the range.  The code is using the Python implementation of decimal, but coverage claims to not be tracing it:
[code]
I don't know if having trace function in place causes a slow-down even if it's not tracing a frame?

[2022-05-22 19:52] jcpunk commented on #1300
In theory this should get you running the tests (on linux):

[code]

You'll also need the postgresql server binaries for the test service to fire up.

[2022-05-22 21:10] #1379 closed, assigned to nobody

[2022-05-22 22:53] Bachmann1234 commented on #1308
So including it in the cobertura XML as an attribute would be _ideal_ however, I don't see a way of doing that without violating the schema by adding a new attribute to the `line` tag.

[code]

My assumption here being that convincing cobertura to add a 'multiline-statement' attribute or something to their schema would be very unlikely.

However, if you would be willing I could look into what it w

[2022-05-22 23:06] nedbat commented on #1328
Fixed in e6df5b39.

[2022-05-22 23:06] #1328 closed, assigned to nobody

[2022-05-22 23:33] nedbat commented on #1310
This is now released as part of [coverage 6.4](https://pypi.org/project/coverage/6.4).

[2022-05-22 23:33] nedbat commented on #1351
This is now released as part of [coverage 6.4](https://pypi.org/project/coverage/6.4).

[2022-05-22 23:33] nedbat commented on #1328
This is now released as part of [coverage 6.4](https://pypi.org/project/coverage/6.4).

[2022-05-22 23:33] nedbat commented on #1323
This is now released as part of [coverage 6.4](https://pypi.org/project/coverage/6.4).

[2022-05-23 00:28] kloczek commented on #1373
Just found new 6.4 version and tested that using strace
<details>

[code]
</details>

Question is why in this case pytest executed from non-root account is trying to write something in system image? 🤔
Extracted all `Permission denied` strace lines:
[code]
I have already +940 modules packaged as rpm packages and in 8/9 of those packaging procedures as part pf the packaging procedures pytest is used

[2022-05-23 00:29] kloczek commented on #1373
Hmm just tested ..
[code]

[2022-05-23 08:29] samcoveney commented on #1334
Since downgrading to fix the issue, I have moved on. I had a very hard time
isolating the bug. But the fact that downgrading (as explained above) fixed
the issue, suggests that the issue was this package (in my opinion).

On Sun, 22 May 2022, 8:11 pm Ned Batchelder, ***@***.***>
wrote:

[2022-05-23 08:31] cfbolz commented on #1339
Thanks @nedbat for confirming, I'll try to take a deeper look into what is going on here

[2022-05-23 08:32] cfbolz commented on #1339
(and thanks for showing me `COVERAGE_DEBUG` :-) )

[2022-05-23 11:54] johnthagen commented on #1310
@nedbat I can confirm that Coverage 6.4 solved our `multiprocessing.Pool` deadlocks in CI.

Thanks! ❤️

[2022-05-23 16:40] pllim commented on #1310
v6.4 works for me. Thanks!

[2022-05-23 17:46] cfbolz commented on #1339
Some information that I found out. The problem is definitely the fact that PyPy implements in Python all of `decimal` and even all of `contextvars` (which decimal uses a bit everywhere). One can see the same effect in CPython too by replacing the import with `from _pydecimal import Decimal`. On my laptop, that yields a roughly 10x slowdown.

On PyPy this is even more extreme. I added a simple trac

[2022-05-23 19:46] cfbolz commented on #1339
ok, so my pypy fixes are more useful than I thought, they also give a 50% performance improvement. on my laptop this brings the difference down to a much more acceptable 5x.

@nedbat do you think the two concrete coverage changes (a revived #791 and caching the bound method) make sense? I'm happy to prepare PRs for them.

[2022-05-24 01:35] nedbat commented on #1339
@cfbolz sure, those both sound good.  I had forgotten about #791; it seems like the concerns with it are gone now that time has passed.  Thanks!

[2022-05-24 09:07] cfbolz commented on #1339
ok, I'll give that a go! is there a "canonical" benchmark for coverage so that I can check whether it helps (or at least not worsens) other cases?

[2022-05-24 09:12] cfbolz commented on #1339
never mind, I should have just looked, sorry about that :-(

[2022-05-24 10:04] nedbat commented on #1339
TBH, I don't have a usual performance test. There's a perf directory, but I haven't used it in a very long time (years).  It would be good to get a disciplined measurement established.

[2022-05-24 16:28] bbeattie-phxlabs commented on #1350
Double-checking the assessment, I think [the above code snippet](https://github.com/nedbat/coveragepy/issues/1350#issuecomment-1083646903) actually addresses the concern you raise! By removing lines without context from `n_statements`, the ratio can indeed go to 100%.

## With my proposed change and with a test

[code]
[code]
[code]

## With my proposed change and without a test

[code]
[code]

##

[2022-05-25 05:55] DylanYoung opened #1382 "PyPy3.9/3.8 + Django 4.1 + Coverage Failure with LazyObject"
**Describe the bug**
Odd failure on PyPy, but not CPython.  See PyPy bug for details: https://foss.heptapod.net/pypy/pypy/-/issues/3751

[code]

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?

[code]
Also fails on 3.8.

1. What version of coverage.py shows the problem? Th

[2022-05-25 10:14] felix-ht opened #1383 "With python 3 modules are importable even without __init__.py"
With https://peps.python.org/pep-0420/ - released with python 3.3 it is no longer required to create an empty `__init__.py` file.

However Coverage still skips folders without an `__init__.py`

https://github.com/nedbat/coveragepy/blob/0aa1070a2c9a99e10b7790b9a6a40a631ba5514e/coverage/files.py#L409

This causes unexpected results for the total coverage as valid python code is not included in the t

[2022-05-27 09:55] knyghty opened #1384 "Show / hide fully covered files in HTML report"
**Is your feature request related to a problem? Please describe.**
Usually when I'm reading the HTML report I only really care about files without full coverage. So it would be nice to be able to toggle whether fully covered files are visible in the report.

**Describe the solution you'd like**
I think a checkbox near the filter input could work, so you can toggle showing covered files on/off. Pre

[2022-05-27 11:31] nedbat commented on #1383
@felix-ht I don't know how common it is for people to omit the `__init__.py` file.  That logic was there originally so that bin/ directories would be skipped since the files in them wouldn't be importable.  Maybe an option?

BTW, how did you create this issue? There are no labels on it that usually get assigned to new issues.

[2022-05-27 12:22] felix-ht commented on #1383
The official use case for omitting the __init__.py is to create a [namespace packages](https://stackoverflow.com/a/48804718/7479173) (Having to separate packages that share a namespace).

An option would really be an good solution - something like --include_namespace_packages

I created the issue by going to the source code mentioned above and clicked reference in new issue. This seems to skip the

[2022-05-27 16:48] Tim-Abwao opened #1385 "Methods used in multiprocessing counted as missing in version 6.4"
**Describe the bug**

After upgrading to version 6.4, the coverage somehow drops from 100% to between 91% - 95% (most often 92.62%).

The very handy *html* report reveals that this is due to methods used in sub-processes (multiprocessing).

I had a similar issue when setting up multiprocessing, but read up on how to update the config file `[run]` options (`concurrency = multiprocessing`, `parallel

[2022-05-28 01:41] nedbat commented on #1385
There is a new setting in 6.4: `[run] sigterm = True`.  Try setting that in your .coveragerc file.

[2022-05-28 07:20] AdityaGupta030697 commented on #1338
Hi @nedbat!
Apologies for the late reply. It is just a spurious warning as the coverage numbers seem to be correct.
Thanks again for looking into this!

[2022-05-28 08:24] Tim-Abwao commented on #1385
This worked, thanks.

[2022-05-28 08:24] #1385 closed, assigned to nobody

[2022-05-28 22:33] alex opened #1386 "segfault if should_trace function doesn't return a CFileDispotion"
**Describe the bug**

The CTracer assumes that `should_trace` will always return a `CFileDisposition` but doesn't actually verify this:

https://github.com/nedbat/coveragepy/blob/4b592fe30a7ebf871ba9a3d883ec955dae198c15/coverage/ctracer/tracer.c#L377-L396

**To Reproduce**

[code]

Python 3.9.13
coverage.py 6.4

**Expected behavior**
No segfault, a clean error (even an abort with an assertion fail

[2022-05-29 10:10] nedbat commented on #1386
I'm wondering how you encountered this? It's an internal interface, and always returns a CFileDisposition.  Is it worth type-checking?

[2022-05-29 12:36] alex commented on #1386
I encountered it while scouring the source for a weekend experiment to see if the CTracer could be sped up :-)

I wasn't sure where the line between the public API and the internals were.

[2022-05-29 16:24] nedbat commented on #1386
I just made a tiny change that improved the speed: 4b592fe30a7ebf871ba9a3d883ec955dae198c15

The real improvement will come from integrating Slipcover: https://github.com/plasma-umass/slipcover

[2022-05-29 17:00] alex commented on #1386
Is integrating slipcover a planned direction for coverage.py? Is there a ticket/PR to follow along with the work?

I'm going to keep playing with my PoC for fun this weekend in either event :-)

[2022-05-29 17:17] nedbat commented on #1386
It's not a planned direction, but I've been chatting vaguely with Juan about it as a possibility.

[2022-05-29 19:38] cfbolz commented on #1339
Thanks for the merge @nedbat :-). And thanks for putting the benchmark script together, I'll use that next time. I probably have one more PR coming.

[2022-05-30 10:41] nedbat commented on #1350
I see what you are getting at. It feels like there will be unforeseen consequences of excluding those lines, but we need to get some other eyes on it to know.  Go ahead and make a PR and we can ask people for opinions.

I guess `Analysis` will need to take the full config object in order to have the information it needs.

[2022-05-30 16:59] #1386 closed, assigned to nobody

[2022-05-30 17:19] bbeattie-phxlabs commented on #1350
My now-deleted comment about using `coverage report --contexts=test` was premature. Continuing with the PR...

[2022-05-30 18:14] bbeattie-phxlabs commented on #1350
https://github.com/nedbat/coveragepy/pull/1389 up as an initial draft.

[2022-05-30 18:38] cfbolz commented on #1339
@felipou would you be up to trying with a nightly [build of pypy3.9](http://buildbot.pypy.org/nightly/py3.9/) and a coverage master to see what the numbers now are for you?

[2022-05-30 19:12] nedbat commented on #1339
I tried a benchmark of the code from the top of this issue, and got:
[code]
So latest coverage is 2x better than 6.4, though the slowdown I'm seeing is not nearly as severe as the OP's.

[2022-05-30 20:00] cfbolz commented on #1339
right, I was kind of assuming that the small benchmark was part of a bigger program

[2022-05-30 21:19] felipou commented on #1339
@cfbolz I'll give it a try as soon as I can, probably tomorrow night or wednesday morning.

[2022-05-31 08:40] antonagestam commented on #1300
I just experienced a significant coverage dip when attempting to upgrade from 5.5 to 6.4, I suspect it could be the same issue. It's on a large proprietary code-base so I can't share code, but the coverage dips seems random to me, both entire functions and single blocks are affected.

[2022-06-01 15:35] ikonst opened #1391 "Add "also_exclude_lines" configuration option"
When overriding `exclude_lines` e.g. to exclude `pytest.fail` or `...`, we often include the existing `DEFAULT_EXCLUDE` pattern (currently `\#\s*(pragma|PRAGMA)[:\s]?\s*(no|NO)\s*(cover|COVER)`) to maintain the effect of existing "pragma: no cover"s.

This is cumbersome (the regex is large) and doesn't capture the intention, i.e. I have to explain to my team mates what this regex is and where it c

[2022-06-01 20:41] adam-grant-hendry opened #1392 "report.py Tries to parse non-existent files"
**Describe the bug**

After uninstalling `PyQt5` and installing `PySide6` in my virtual environment (using `poetry add/remove`), `coverage` reports warnings that it cannot parse some non-existent files. It is looking for site-packages `pyscript`, `shibokensupport`, and `signature_bootstrap.py` as if they are in my local folder, when they are actually in my `.venv/Lib/site-packages` folder:

[code]

[2022-06-01 22:40] felipou commented on #1339
Just ran some tests, got the following results using pypy 3.9 nightly and coverage from master branch:
Running without coverage - 0m5,712s
Running with coverage - 1m46,183s

So there was already a 4x speed-up compared to what I was getting before! :rocket:

[2022-06-02 09:00] demberto commented on #1360
I can't reproduce this issue anymore, closing

[2022-06-02 09:00] #1360 closed, assigned to nobody

[2022-06-02 09:59] nedbat commented on #1339
There may be room for more improvements in the future, but I'll close this issue for now with a 4x speed up.

[2022-06-02 09:59] #1339 closed, assigned to nobody

[2022-06-02 10:04] nedbat commented on #1392
I'm not sure how to help without a way to reproduce this.  Can you try setting `COVERAGE_DEBUG=trace` in your environment?  It will show tracing decisions that might provide clues.

[2022-06-02 11:07] nedbat commented on #1339
This is now released as part of [coverage 6.4.1](https://pypi.org/project/coverage/6.4.1).

[2022-06-02 12:14] kloczek commented on #1373
Any update?
Just tested 6.4.1 and pytest is failing the same way.

[2022-06-02 13:18] nedbat commented on #1373
"touch_none.it" is a file name I try to write to see if I can write a .pth file that is needed to run all the coverage.py tests.  Can you print the contents of sys.path, and also the "ls -l" for each of those directories?

As a drastic step, I suppose the coverage.py test suite could skip tests that need the .pth file if it couldn't be written.

[2022-06-02 15:22] kloczek commented on #1373
OK  .. but which one directories? 😋
`sys.path` is altersd by env variable
[code]

Issue is that in this case pytest is failing on collecting units 😃
AFAIK skipping is only possible after finishing that stage.

[2022-06-02 16:20] nedbat commented on #1373
I'm interested in the sys.path that coverage.py is using, so including the environment variable.  Can you add some print statements to the code to see what directories it's considering, and what files are in them?

If we need to skip tests, we'd do it by changing the failure to a flag, and use the flag to skip.  But it would be better to find a new place for the .pth file.

[2022-06-03 17:41] nedbat commented on #1287
@markshannon @pablogsal I am also seeing a problem with coverage.py being 2x slower on 3.11 than on 3.10:
[code]

[2022-06-03 18:12] pablogsal commented on #1287
Can you provide a reproducer that we can play with, as possible with the minimum set of dependencies possible?

[2022-06-03 18:29] nedbat commented on #1287
Here are the same numbers in a more comprehensible form:
| Coverage |   file                         |      3.10       |      3.11       |  3.11 vs 3.10
|----------|--------------------------------|-----------------|-----------------|--------
|  none    | bug1339.py                     |     0.180 s     |     0.141 s     |   78%
|  none        | bm_sudoku.py                   |     10.946 s    |

[2022-06-03 18:35] nedbat commented on #1287
Here is how I ran the tests.  You can adjust the details if you want.

- Get lab/benchmark.py from this repo: https://github.com/nedbat/coveragepy/blob/50e8d938315dacce9c5d3de1a25c771cdfe943ec/lab/benchmark.py
- Clone https://github.com/plasma-umass/slipcover .  I put it at /src/slipcover
- Edit lines 250 and 251 to indicate where you cloned slipcover.
- Comment out line 365 to skip bug1339.py
- R

[2022-06-04 02:39] pablogsal commented on #1287
@nedbat Can you also open an issue ok CPython and subscribe me so we can track this "officially"? Thanks in advance!

[2022-06-04 17:58] joaompinto opened #1393 "coverage report -m reports "No source for code:""
**Describe the bug**
While trying to produce the coverage report for a package the following error is produced:
No source for code: '/home/janito/dinterpol/Expression: "a["b"]"'.

**To Reproduce**
[code]

1. What version of Python are you using?
3.8.10

2. -- sys -------------------------------------------------------
               coverage_version: 6.4.1
                coverage_module: /home/ja

[2022-06-05 02:36] nedbat commented on #1393
You haven't provided a way to reproduce the problem.  To get some more data, can you run with `COVERAGE_DEBUG=trace` in your environment variables?  It will write data to stderr that shows the tracing decisions being made.

Are you running some unusual packages? It looks like you have something like `Expression: "a["b"]"` which has code being executed. What does that?

BTW: you can probably just s

[2022-06-05 05:39] joaompinto commented on #1393
Hi, I presume you missed the "To Reproduce" section :) those commands should result in the error.
In short you can test with the "https://github.com/joaompinto/dinterpol" library.

Yes, I am using the -i for workaround but would be nice to fix the bug :)

Thanks

[2022-06-05 12:22] nedbat commented on #1287
@pablogsal I'm not sure how to subscribe you, but I pinged you, maybe that's what you meant:  https://github.com/python/cpython/issues/93516

[2022-06-05 12:24] pablogsal commented on #1287
Thanks @nedbat 🙏 I marked the bug as release blocker

[2022-06-05 13:55] nedbat commented on #1393
Looks like "enclosed" is being used in an unusual way. I even installed it from GitHub:
[code]

[2022-06-05 14:01] nedbat commented on #1393
I fixed that with:
[code]
I would recommend changing these lines:
[code]
Coverage.py assumes that "file names" starting with an angle bracket are synthetic and reading them should not be attempted.  I'm not sure what other way I can change its behavior.

[2022-06-05 14:03] joaompinto commented on #1393
Will do. Thanks for the help.

[2022-06-05 14:03] #1393 closed, assigned to nobody

[2022-06-06 04:58] sweeneyde commented on #1287
I opened https://github.com/nedbat/coveragepy/pull/1394, which I think should help at least a little.

Another idea, probably not particular to 3.11: Would it make sense to cache the latest result of `PyDict_GetItem(self->should_trace_cache, filename)`? I would guess, but I have no good data, that successive tracing calls would often have the the same filename, so a dictionary lookup could be avoi

[2022-06-06 12:19] ssbarnea opened #1395 "Make coverage packaging be PEP-517 compliant"
**Describe the bug**
I observed some warnings when installing coverage related to the packaging of coverage, likely caused by lack of [PEP-517](https://peps.python.org/pep-0517/) compliance.
[code]

**To Reproduce**
[code]

**Expected behavior**
Full PEP-517 compliance (aka removal of setup.py and adoption of pyproject.toml).

**Additional context**
Add any other context about the problem here.

[2022-06-06 14:07] nedbat commented on #1395
I'm not opposed to this, but could use help changing the tooling.

[2022-06-06 21:15] pfmoore commented on #1395
There's not actually a problem here with PEP 517 compliance:

[code]

Certainly, coverage could change its build process to reflect recent standards, but the existing code is recognised and handled correctly, at least by a modern version of pip.

Maybe the OP can give a better explanation of how to reproduce the issue, as it doesn't seem to reproduce for me.

I'll note that the error reported, "Us

[2022-06-07 14:41] SylvainDe opened #1396 "On 3.11.0a7, when coverage is used, error message for "maximum recursion depth exceeded in comparison" is misleading (it considers that we are in a comparison)"
**Describe the bug**

When the following code is run:

[code]

the following error is expected:

[code]

However, when:

- 3.11.0a7 is used

AND

- Coverage is used

Then, the error message is somehow more precise and more wrong:

[code]

**To Reproduce**

From my CI runs, it looks like only 3.11.0-alpha.7 is affected - https://github.com/SylvainDe/DidYouMean-Python/actions/runs/2455223356 (based

[2022-06-07 15:00] nedbat commented on #1396
I don't think there's anything coverage.py can do to affect this message.  If you look at the line of Python reported with the error, it is a comparison: `if event == 'call':`.

[2022-06-07 15:01] nedbat commented on #1396
Also, you are using the Python tracer in this case.  Perhaps you only see it on 3.11.0a7 because only that version is using the Python tracer rather than the C tracer?

[2022-06-07 15:04] SylvainDe commented on #1396
Thanks for the very quick answer and the additional details. It is probably an issue with the Python tracer then - I'm not aware of this subtlety. I'll investigate a bit more and probably open a Python issue/close this issue.

[2022-06-07 15:28] nedbat commented on #1396
The Python tracer is code in coverage.py to support environments that can't run C extensions.  I don't think it's a problem with that code.  The recursion error happens during a comparison, doesn't it?

[2022-06-07 16:20] adam-grant-hendry commented on #1392
@nedbat Yes, I'll do this. One sec.

[2022-06-07 17:18] adam-grant-hendry commented on #1392
I've attached the debug log. As you can see, it is trying to trace files that don't exist (they are not in `myproj`):

[code]

Specifying `source` to `myproj/` in my `pyproject.toml` will result in the debug saying "Not Tracing", but `coverage` shouldn't be looking for non-existent files in the first place. This is clearly a bug.

[debug_log.txt](https://github.com/nedbat/coveragepy/files/8855251/

[2022-06-07 17:40] SylvainDe commented on #1396
Ho I see, I had misunderstood your remark about the Python version and the tracer. Thanks for the clarification.

It is still weird that the issue is reported as if it was happening during a comparison but this is probably not a coveragepy issue per se. I should aim to make this behavior reproducible with a non-coverage tracer.

(Then, the fact that this wrong value is used to generate a more prec

[2022-06-07 17:58] nedbat commented on #1396
But the line *is* a comparison:  `if event == 'call':`    I'm not sure why it's being report on that particular line, but it is a comparison.

[2022-06-07 18:25] adam-grant-hendry commented on #1392
### System
**OS**: Windows 10
**Python**: 3.8.10
**VSCode**: 1.67.2
**coverage**: 6.4 (with `toml` extra)

To reproduce,

### Minimum Reproducible Example (MRE)

1. Create and activate a virtual environment

[code]

    and ensure `vscode` sees the `Python Interpreter` (use `Ctrl+Shift+p` and set).

2. Create a new poetry project

[code]

3. Install `pytest`, `pytest-cov`, `pytest-env`, `pytest-qt

[2022-06-07 18:29] SylvainDe commented on #1396
Agree - this is what I meant but expressed in a very poor way...

[2022-06-07 18:43] SylvainDe commented on #1396
It probably corresponds to:

- issue https://github.com/python/cpython/issues/92118
- commit https://github.com/python/cpython/commit/e61330b44f22b11a71f5bbcc17e309dd80e3e95f (integrated between v3.11.0a7 and v3.11.0b1 )

I'm not quite sure what went wrong between v3.11.0a6 and v3.11.0a7 but in any case:

- it looks like this is fixed (on all but one very minor version)
- this is nothing for cover

[2022-06-07 19:17] #1396 closed, assigned to nobody

[2022-06-08 00:29] nedbat commented on #1392
This seems to be due to pyside using "shiboken6", which imports files from a zip file, reporting file names that don't exist on the file system.  I don't see how coverage.py could know that they shouldn't be attempted.

You can tell reporting to omit those files using settings like this in pyproject.toml:
[code]
Or you can suppress that warning entirely with:
[code]
Either way, you will not be bot

[2022-06-08 00:35] nedbat commented on #1392
Feel free to reopen this if you have an idea about how coverage.py could do something more here.

[2022-06-08 00:35] #1392 closed, assigned to nobody

[2022-06-08 00:42] nedbat commented on #1392
BTW, simpler reproduction steps, due to @SnoopJeDi:

pyproject.toml:
[code]
requirements.txt:
[code]
test_repro.py:
[code]
Then in a Python3.8 environment, run:
[code]

[2022-06-08 17:04] adam-grant-hendry commented on #1392
How were you able to see that it imports from a zip file?

[2022-06-08 17:17] nedbat commented on #1392
Actually, I'm guessing where the file came from.  But I know it didn't exist because I added some debugging lines to coverage/inorout.py to log whether the claimed file exists.

[2022-06-08 17:42] SnoopJ commented on #1392
If you print the contents of `sys.modules` after the import that causes these warnings, the offending modules indicate that they are instances of [`EmbeddableZipImporter`](https://github.com/pyside/pyside-setup/blob/69d43ea814788a18e8d77920d493fd84f6fc699a/sources/shiboken6/libshiboken/embed/signature_bootstrap.py#L142) objects (which are specific to `pyside6`) in their repr:

Input:
[code]

Outpu

[2022-06-08 17:42] adam-grant-hendry commented on #1392
I believe you are right. I dug deeper into a similar problem [posted on SO](https://stackoverflow.com/questions/65880821/importerror-with-pyside6-shiboken6/72549945#72549945) and it does appear `shiboken6` imports from a zip file.

I know I used to see a private `.` folder cached in my top-level project directory before, but I can't seem to find it.

[2022-06-08 17:45] adam-grant-hendry commented on #1392
Thank you! Great tip.

The bug on the PySide tracker ([PYSIDE-932](https://bugreports.qt.io/browse/PYSIDE-932)) does note that their solution was to embed everything now. That makes sense.

[2022-06-08 17:54] adam-grant-hendry commented on #1392
FWIW future readers (a tip), I've added a note in my `pyproject.toml` regarding this since newcomers to my codebase might scratch their heads when they see that a non-existent folder is being omitted:

[code]

[2022-06-08 17:55] SnoopJ commented on #1392
It's conceivable that PySide could adjust the filenames of things provided by `EmbeddableZipImporter` to start with `"<"` which would cause `coverage` to [ignore them](https://github.com/nedbat/coveragepy/blob/d9607b1d9bfa7a65267415e35bf659350c5e16d3/coverage/inorout.py#L323-L324), but I don't know if that would impact any of the other usage in their little ecosystem. Might be worth asking them ab

[2022-06-08 17:57] adam-grant-hendry commented on #1392
I'm comfortable in my own project, for the timebeing, commenting what's happening in my `pyproject.toml`.

If this surfaces into a bigger issue, I can open a request on their tracker later.

[2022-06-09 00:35] vEpiphyte opened #1397 "RecursionError encountered with python 3.10.4 and coverage 3.4.1"
**Describe the bug**
When using Coverage on my project with Python 3.10.4, a RecursionError is encountered. This appears similar to https://github.com/nedbat/coveragepy/issues/1298 . The following shows executing a unit test with and without coverage, with coverage failing.

[code]

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the

[2022-06-09 12:53] vEpiphyte commented on #1397
Something extra weird - using ``breakpoint()`` to step to the location of the recursion error gives me a **different** RecursionError. This is available on the ``bug_provtext_coverage_bp`` branch of the synapse project.

[code]

[2022-06-10 10:24] ssbarnea commented on #1395
I am sure that I did not add any argument to pip when doing so and I seen this warning being displayed multiple times (different repos using coverage).  Maybe in some cases pip ends up creating a build environment for one package without wheel package, one that requires coverage.

It might be related to pip or tox but I was still unable to find any place where this flag would have being set.

Sadl

[2022-06-10 10:40] ssbarnea commented on #1395
Reproduced it. It happens all the time if you do not have wheel installed. In my case macos, python 3.11-dev from pyenv, no virtualenv active and pip 22.1.1:
[code]

@pfmoore WTDY, does it count as a pip bug? Shouldn't pip install wheel when missing instead of falling back to setup.py? As wheel is not magically installed by default.

PS. Either way, it is still true that removing `setup.py` would

[2022-06-10 11:01] pfmoore commented on #1395
As my previous post shows, it's not obvious that it's a pip bug, as it works on Windows. So my expectation is that it's something in your environment. Pip *does* install wheel when missing, unless there's command line settings (or configuration) to make it behave differently.

What does `pip config list` show?

Not necessarily. If your environment is blocking build isolation somehow, removing `set

[2022-06-11 08:50] ssbarnea commented on #1395
There is no custom pip config present.
[code]

I tried to use other python versions (like 3.9 from system/brew) and I was not able to reproduce the issue, mainly because coverage already has binary wheels for most platforms and pythons.

The reason why I seen this is because there is no binary wheel for 3.11 and will likely reproduce with any py311. I still think we should do something about it to

[2022-06-11 09:53] pfmoore commented on #1395
As I showed, `--no-binary coverage` allows you to test on other versions of Python. But I think I see why I was confused. You (presumably) have setuptools installed, but not wheel. I had neither setuptools nor wheel installed. This is messy heuristic code in pip that decides when to trigger the legacy install route. I wouldn't worry too much about it, as it is being gradually phased out anyway (PE

[2022-06-11 10:14] nedbat commented on #1287
That call only happens during a CALL event, so I'm not sure it would pay off, but I can try it.

[2022-06-11 10:39] ssbarnea commented on #1395
Interestingly adding the `pyproject.toml` did uncover other unrelated problems, failure to even install due to greenlet not compiling with python 3.11, found https://github.com/python-greenlet/greenlet/issues/305

PS. I do really appreciate your patience on this, btw feel free to rename or propose a different issue title to make it more appropriate as it is not fully PEP-517. Ditching the setup.py

[2022-06-11 20:19] nedbat commented on #1287
I tried this out in this pull request: https://github.com/nedbat/coveragepy/pull/1401  It seemed to only improve things by about .5%

[2022-06-12 23:36] nedbat commented on #1397
The instructions from the first comment reproduce the problem for me. I don't know what's going on yet.

[2022-06-12 23:49] tobiasraabe opened #1402 "Coverage causes test to fail with pexpect and `pdb.set_trace`."
Hi,

First of all, thanks for the great library!

**Describe the bug**

I have a [test](https://github.com/pytask-dev/pytask/blob/609304a453e4f9636c53477aba5bb50360fdca00/tests/test_debugging.py#L177) that spawns a child process with pexpect and runs my application. Then, it checks whether some output is displayed and interacts with the program in the child process. The test looks like this.

[cod

[2022-06-13 09:51] nedbat commented on #1402
Hmm, this is because of https://github.com/nedbat/coveragepy/commit/4b592fe30a7ebf871ba9a3d883ec955dae198c15#diff-68a483552b5cf650f43e371e28ef86ba13f3958e93bc1587c3cb7afad0397f24R517, which was done to get a slight performance improvement.  I guess there isn't a way to keep it?

[2022-06-13 10:09] nedbat commented on #1402
CPython has an open issue to set the flag when using bdb:  https://github.com/python/cpython/issues/80675

[2022-06-14 10:42] nedbat commented on #1397
I think coverage is not causing the recursion error, but is making it more likely.  If I add `sys.setrecursionlimit(775)` to the top of test_lib_provenance.py, then it fails with the same error even without coverage measurement.  I don't see what the change is in the stack when running coverage, but it seems to be adding enough frames somewhere to make the deep recursion hit the limit sooner.

I d

[2022-06-14 10:43] #1397 closed, assigned to nobody

[2022-06-14 14:17] tobiasraabe commented on #1402
Maybe this question was rhetorical 😅, but if not, I want to mention that I cannot judge whether the changes justify breaking some code -- probably not many people are affected?. Of course, it would be more convenient for me if you would revert the patch. Still, the alternatives are only minor nuisances one can quickly work around (pinning coverage, verifying it locally, etc.).

Would the changes t

[2022-06-17 22:10] Kache opened #1407 "--omit="./*.py" omits ALL python files, not only files at the top level"
**Describe the bug**
My intent is to trace all python files under project root, excepting a couple directories and python files in the top level.

This is close to what I want, but contains python files at the top level:
[code]

but these will omit ALL python files (`CoverageWarning: No data was collected. (no-data-collected)`):
[code]

**To Reproduce**
How can we reproduce the problem?  Please *b

[2022-06-18 07:30] ShaheedHaque commented on #689
Another option may be related to how the Celery pool (at least for the default configuration of "prefork") uses forking to create workers. The use of forking causes several issues including, in my experience, difficulty with gathering coverage data.

See https://github.com/celery/celery/issues/6036#issuecomment-1152424962 for a possible workaround.

[2022-06-18 11:44] ShaheedHaque opened #1408 "No source for code: '/x/y/z/<not an actual file>'. (couldnt-parse)"
**Describe the bug**
When I run the `coverage xml -i` command, I get a number of errors of the form:
[code]
where the path printed (twice) has a valid `dirname(path)`, but the `basename(path)` of has values like `Works id`, `Units`, `Date`, `bankdetail.sort_code`. These names are not the names of any files, but *do* exist in the codebase as strings.

**To Reproduce**
How can we reproduce the probl

[2022-06-18 16:46] nedbat commented on #1408
Hi this seems a continuation of #1318.  Can you give me a way to reproduce the problem?

Typically, phantom file names like this are due to dynamically compiling code.  The `compile()` builtin takes a "file name", but when there is no actual file, people create a fake one based on something about the origin of the code.  Perhaps your project is also doing this?

Coverage will ignore a file name if

[2022-06-19 02:57] ShaheedHaque commented on #1408
I had completely forgotten filing #1318! At any rate, the big difference from then is that I'm now able to get somewhat plausible coverage numbers having hacked around the Celery fork-vs-spawn issue (see #689).

You are indeed correct, I do use `compile()`, and the filename is exactly the strings I cited. I added the "<" prefix you suggested and the errors are gone!

[2022-06-19 02:57] #1408 closed, assigned to nobody

[2022-06-24 14:58] tikuma-lsuhsc opened #1410 "tracer hangs only in Windows"
**Describe the bug**

(I'm crossposting [SO post](https://stackoverflow.com/questions/72724020) as I'm begin understanding how coverage test is working.)

I've been working on [a PR for `rpy2` package](https://github.com/tikuma-lsuhsc/rpy2/tree/fix/win_r_home) to improve its support for Windows, and the provided `pytest` test hangs while running `coverage.py`'s `tracer` only in Windows.

* The cod

[2022-06-25 13:03] mvaled commented on #1376
I have the same error.  You can see it here: https://gitlab.com/merchise-autrement/xotl.plato/-/jobs/2639831211

The tests are run with `tox -e system-unit` using the latest docker image `python:3.11-rc` (I'm just running with 3.11.0b3).  The tox command is:

[code]

[2022-06-25 13:11] mvaled commented on #1376
Using the image `python:3.11.0b3` the error doesn't happen any more: https://gitlab.com/merchise-autrement/xotl.plato/-/jobs/2639850727

[2022-06-26 09:42] Randomneo opened #1411 "Performance drop with using coverage testing starlette websocket"
**Describe the bug**
Performance drop with using coverage testing starlette websocket.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. `platform linux -- Python 3.10.5, pytest-7.1.2, pluggy-1.0.0`
1. Package versions
[code]
1. code: [https://pastebin.com/F2iXUM4E](https://pastebin.com/F2iXUM4E).
1. just runni

[2022-06-26 19:53] nedbat commented on #1411
I don't see the same results you do.  I had to add a line to your file: `from starlette.testclient import TestClient`

Then:
[code]

The times are not the same, but they are similar, and within reason.  Can you show the results of `coverage debug sys`?  Are you using the C tracer?

[2022-06-27 18:58] Randomneo commented on #1411
[code]

[code]

[2022-06-29 10:22] ghost commented on #841
Hi,

I ran into this issue and did some debugging. I came across the bug when using sqlalchemy asyncio, that uses greenlet under the hood (see #1216 ).

I created a test that tested this logic:
[code]
As noted above, the code after `gevent.joinall([greenlet]) does not get any coverage.

I ran the coverage with the trace and logging in the CTracer. I noted that the covered lines have depth 0, but t

[2022-06-29 15:05] ghost commented on #841
Alright, I figured it out. Adding the `greenlet` to the concurrency options works! That was almost to easy.

.coveragerc:

[code]

[2022-06-30 13:18] ghost commented on #1216
@Apakottur I stumbled on this as well. SQLAlchemy uses greenlet under the asyncio hood. You need to instruct coverage to take this into account, see https://github.com/nedbat/coveragepy/issues/841#issuecomment-1170098080

[2022-06-30 16:01] Apakottur commented on #1216
@klaasjanelzinga Super nice find!
Adding `concurrency=greenlet` fixes the issue in this case as well.

This seems so obvious in retrospect, I just never got to do a bit more trace investigation.

[2022-07-01 11:31] allisonkarlitskaya opened #1415 "Support reporting filenames relative to PYTHONPATH"
**Is your feature request related to a problem? Please describe.**

I run coverage on pytest under tox in my project, and I'm trying to move to a src layout.  That means that a simple import of my package will no longer find it in the current directory, but rather in the venv where tox installed it.

When I do that, then suddenly, I start getting really long filenames in the coverage report:

[cod

[2022-07-01 15:40] createdbysk commented on #1383
I have this directory hierarchy.
[code]

My `.coveragerc` looks like this.
[code]

When I run
[code]

my coverage report looks like

Module | statements | missing | excluded | coverage
-- | -- | -- | -- | --
src/app.py | 19 | 0 | 0 | 100%
Total | 19 | 0 | 0 | 100%

I would have expected `main.py` in the report. Any help on what I have missed that causes that to happen?

[2022-07-04 20:42] Kludex commented on #711
@nedbat what would be acceptable for this feature? To have a new line on the report?

[2022-07-04 23:32] nedbat commented on #711
@Kludex I'm still trying to understand how people would use this.  It still seems to me that raising an exception from the line that must not run would be the easiest way to get what's needed here.

[2022-07-04 23:36] graingert commented on #711
This is for places where an exception may not be collected, eg in an aborted coroutine in a background task

[2022-07-07 00:21] Jacob-Stevens-Haas opened #1417 "Support pathlib PosixPath"
**Describe the bug**
When a test uses `runpy.run_path` with a `Path` argument (e.g. a `PosixPath`), `coverage` tries to treat it as a string, raising an `AttributeError`.  Could be considered a feature request, but since error appears with builtin modules coverage aims to support (python~=3.6), it feels like a bug.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't li

[2022-07-08 17:09] sullivancolin opened #1418 "Support report terminal output in Markdown Table format"
The current terminal report is great, but wondered if there would be interest in adding a new output format or flag to support markdown table syntax.

This would enable nice display of coverage reports in rendered html that contains the markdown output.  Some examples where this might be nice:

1. Users could used [Cog](https://nedbatchelder.com/code/cog/) to automate the inclusion of coverage rep

[2022-07-12 11:48] nedbat opened #1419 "3.11.0b4: zero line numbers"
**Describe the bug**
CPython 3.11.0b4 has bytecodes with line number zero.  This adds a line that cannot be covered, affecting coverage outputs.

The CPython commit that introduced the problem was https://github.com/python/cpython/commit/1bfe83a114da3939c00746fc44dc5da7f56f525f.

[2022-07-12 12:45] #1419 closed, assigned to nobody

[2022-07-12 13:44] nedbat commented on #1419
This is now released as part of [coverage 6.4.2](https://pypi.org/project/coverage/6.4.2).

[2022-07-12 15:07] kloczek commented on #1373
Just tesated 6.4.2. Looks like it is better now becaus pytest is able to collect unit ad start testing.
However it shows fails and errors.

<details>

[code]
</details>

[2022-07-14 12:42] csernazs commented on #1376
I have a same issue here with 3.11.0b4: https://github.com/csernazs/pytest-httpserver/runs/7326218373?check_suite_focus=true

[2022-07-14 13:50] nedbat commented on #1376
@csernazs can you provide instructions for me to reproduce the issue?

[2022-07-14 14:12] csernazs commented on #1376
Hi,

For pytest-httpserver, I could reproduce it with creating a `.venv` directory and installing the dependencies with poetry:
[code]

Then if I run:
[code]
It reproduces the issue.

The point here is that `.venv/bin/python` should be 3.11.0b4 (and it seems b3 is also affected). I think it is probably a bug in cpython.

I have a lot of dependencies there (for pytest-httpserver), and if I create a

[2022-07-14 14:56] csernazs commented on #1376
It is also interesting that if I run coverage on the trivial `p.py` with the coverage from the venv updated by `make dev` it also triggers the error.
If I add a simple print like this to `should_trace`:

[code]
Then it prints a strange pattern to the stdout:
[code]

[2022-07-15 09:39] csernazs commented on #1376
For me, my problem was that poetry installed an older coverage package, and that was not working with python 3.11.
But with the latest one (6.4.2) my tests [work](https://github.com/csernazs/pytest-httpserver/runs/7355531139?check_suite_focus=true) with 3.11 (and 3.10)

I'm sorry for the false alarm.

[2022-07-15 09:47] nedbat commented on #1376
Yes, poetry installed 6.2 because your project supports Python 3.6, and 6.2 is the latest coverage.py version that also supports 3.6.

[2022-07-15 09:55] #1376 closed, assigned to nobody

[2022-07-20 07:48] khink opened #1420 "Pytest ipdb starts shell one frame too deep if coverage >= 6.4.1"
Not sure if this is a bug in coverage itself, but as pinning coverage to 6.4 fixed it for us, i'll ask here first.

When i run pytest with coverage 6.4.1 or 6.4.2, putting a breakpoint in the code (or in the test code) will start a shell one level deeper than where the breakpoint is. To return to the breakpoint location, i have to type `up`.

Test code:
[code]
(With the shell env `PYTHONBREAKPOINT

[2022-07-21 16:27] ljmc-github opened #1421 "Python match (PEP634) "or wildcard" pattern marked as missing branch"
**Describe the bug**
Two equivalent function using the match/case construct with two different ways to use wildcard pattern are reported differently, with the "or wildcard" case marked as missing branch.

**To Reproduce**
Here is a minimal reproducible example, note testing is done pairwise to verify the functions as equivalent.

[code]

Here is the coverage.
[code]

And finally, the output of `co

[2022-07-25 19:15] mj026 commented on #1420
The same behaviour occurs with the build in `pdb`, so it is not  specifically related to `ipdb`. When coverage reports with `pytest-coverage` are disabled, the issue doesn''t occur.

[2022-07-26 10:07] colinshin opened #1422 "django project could not get coverage after running testcase written in tavern"
**Describe the bug**
i have a django project which testcase is written in tavern(testcase is like test_x.tavern.yaml).
I run my project like this
`coverage run manage.py runserver --noreload 0.0.0.0:9100  --settings=vuserver.settings.test`

I run my testcase
`pytest -vv tests`

Then I run
`coverage report`

I got nothing

[code]

How can I get the coverage of the test cases written by tavern for d

[2022-07-27 18:36] nedbat commented on #1422
Typically, this problem is because the process under measurement (your Django application) isn't ended cleanly.  Do you have a way to shutdown the Django application (not Ctrl-C!).  For example, a URL endpoint that will call sys.exit()?

[2022-07-28 09:09] colinshin commented on #1422
after runing `pytest -vv tests`  , I run `kill -9 $(pgrep -f 9000)`  before `coverage report`, then i got

[code]
The result of my test case running is three failures and 55 successes. The coverage rate should not be 30%. I don't know if there is a problem with the pytest.ini or .coveragerc configuration.
`pytest.ini`
[code]
`.coveragerc`
[code]
Can you help me see what the problem is?

[2022-07-28 09:31] jokerbo1 opened #1423 "COVERAGE_PROCESS_START .pth gunicorn supervisor run sucess No coverage data file"
**Describe the bug**
[code]
Supervisor Config:

[code]

Pth file install Path

global_coverage.pth  file content:

When I run the supervisor command to restart, the coverage runs normally and no error log is found, but the corresponding coverage data file (.coverage) is not output. Please help me to see if my configuration and command execution are incorrect, causing The coverage file is not outpu

[2022-07-28 10:54] tanmayzengit opened #1424 "Code Coverage percentage for each sub-directory"
**Is your feature request related to a problem? Please describe.**
I am currently trying to generate a code coverage report for a monolith which gives me the percentage at each file level. What i want is to get the coverage percentage at each directory and sub-directory level.

**Describe the solution you'd like**
[code]
I would want something like i have mentioned above if that helps in understan

[2022-07-28 11:10] nedbat commented on #1422
`kill -9` is not a graceful exit of the process.  Can you arrange to call sys.exit from within the Django application instead, even if only to debug this issue?

[2022-07-28 17:42] jaltmayerpizzorno opened #1425 "Missing branches detail missing from JSON format"
**Describe the bug**
Missing branches detail missing from JSON format

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?

[code]
2. What version of coverage.py shows the problem? The output of `coverage debug sys` is helpful.

[code]

3. What versions of what packages do you

[2022-07-29 06:58] colinshin commented on #1422
I add this class in one of my app and import in urls.py

[code]
execute `curl -s "http://127.0.0.1:9000/parallel/shutdown/"` before `coverage report`
Then i get
[code]
This really helpfull!
Thank you very much!

[2022-07-29 06:58] #1422 closed, assigned to nobody

[2022-07-29 13:59] nedbat opened #1426 "PyPy 3.9 nightlies are failing some tests"
https://github.com/nedbat/coveragepy/runs/7574680068?check_suite_focus=true

<details>
<summary>Output from the failing test</summary>

[code]
</summary>

PyPy3.9 started reporting sys.argv[0] as an absolute file rather than relative.  But it still shows relative files in tracebacks.

[2022-08-01 00:45] tysonclugg opened #1427 "Fine grained differentiation of coverage context"
**Is your feature request related to a problem? Please describe.**
It's easy to increase coverage using some testing strategies (eg: [SnapshotTest](https://github.com/syrusakbary/snapshottest)), but coverage stats are skewed for other strategies (eg: BDD) where coverage is often far lower.  I'd like to have coverage not just report the high level coverage which could well be 100% across all test s

[2022-08-01 19:23] arcivanov opened #1428 "WIN32: data.combine_parallel_data fails in relpath in message"
**Describe the bug**

Whenever on Windows `data_paths` are on a disk different from that of the current dir's, there will be a well-known relpath failure.
The actual use of `relpath` here is irrelevant and can be replaced with the path itself:

https://github.com/nedbat/coveragepy/blob/b8cb29e53ee6d3a2fda8a342de72e3fefec7d547/coverage/data.py#L135

[code]

This appears on all Python versions (3.7

[2022-08-02 06:25] bromiao123 opened #1429 "An err with .coverage database"
Hi,First of all, thanks for this library!

The question

When I was testing with Coverage.py, something went wrong:

Traceback (most recent call last):
File "/home/bromiao/.local/lib/python3.8/site-packages/coverage/sqldata.py", line 1107, in execute
return self.con.execute(sql, parameters)
sqlite3.OperationalError: no such table: arc

During handling of the above exception, another exception occu

[2022-08-02 10:14] nedbat commented on #1429
Can you provide the full code to reproduce the problem? It would help to explain why you are using the API instead of the command-line interface, why you are using a subprocess from Python, and why you are using a thread to run the subprocess.

[2022-08-02 17:49] nedbat commented on #1426
I've xfail'ed two tests so the nightly tests can succeed.

https://foss.heptapod.net/pypy/pypy/-/issues/3792 is the PyPy issue.

[2022-08-03 04:58] bromiao123 commented on #1429
The full code is sample. Can I use e-mail?

[2022-08-03 07:36] lormico commented on #1428
This is very similar to #895.

There's also another call to `os.path.relpath` that can potentially fail on `win32`:
https://github.com/nedbat/coveragepy/blob/30a249aac87be4701bfafae2ed3c5a6e964aa3fc/coverage/xmlreport.py#L173

I will try to propose a pull request along the lines of #896, catching the `ValueError` on both of these occurrences.

[2022-08-03 07:49] lormico commented on #1428
Nevermind, `xmlreport.py` is fine as it is now: `rel_name` and `dirname` should always be on the same volume.

[2022-08-03 22:11] arcivanov commented on #1428
@nedbat could you please take a look?

[2022-08-04 16:57] hy144328 opened #1431 "Run doctests but do not include in coverage report"
I like to use function doctests as smoke tests. It makes nice documentation. And if the interface of my function changes, the failed doctest serves as a reminder to overhaul the entire docstring, e.g. `args`. In doctests, I usually set things up to execute the function in question but without any assertions; hence a smoke test. Making assertions is left to proper `test_*.py` modules.

Nevertheless

[2022-08-04 17:44] jmgurney opened #1432 "Coverage reports line as uncovered when run."
**Describe the bug**

I have found that apparently coverage reports a continue statement as being uncovered even though it is run/executed.

**To Reproduce**
1. Python 3.9.13 (main, May 30 2022, 11:25:38) (tested on Python 3.10.4 (main, May 23 2022, 16:05:39) and doesn't reproduce)
1.
[code]
[code]
1. What code shows the problem?
[code]
1. What commands did you run?
[code]

**Expected behavior**

[2022-08-04 18:38] nedbat commented on #1432
This is because jumps to jumps are often optimized away:
[code]
Notice that nothing jumps to offset 70 (line 11), and all the places that should have be re-written as jumps to offset 4, where line 11 would jump to.

This is being changed in Python 3.10 and later.  If you use that version, you should see line 11 covered.

(Duplicate of #198)

[2022-08-04 18:39] #1432 closed, assigned to nobody

[2022-08-06 09:52] sysid commented on #950
@mgedmin I have got the same issue. Did you find a solution?
Would be much appreciated, thank you!

[2022-08-06 09:58] sysid commented on #950
Found the solution, for future reference in case someone is ending up here:
`usedevelop = true` was missing.

[2022-08-06 17:34] #972 closed, assigned to nobody

[2022-08-06 17:41] nedbat commented on #1431
Coverage.py mostly doesn't know what tests are running, it just notes what lines of code get executed.  If you can instruct pytest to skip doctests, you can run your tests in two phases: once without doctests with coverage, and ones with doctests without coverage.

Would that work for you?

[2022-08-06 17:44] nedbat commented on #1427
Have you looked at the [Measurement Context](https://coverage.readthedocs.io/en/6.4.2/contexts.html) section of the docs? I don't think it has what you want yet, but it's the closest thing at the moment.

[2022-08-06 17:47] nedbat commented on #1424
Coverage.py doesn't offer per-directory totals, but you can use the JSON report to analyze the collected data. An example is at [Coverage goals](https://nedbatchelder.com/blog/202111/coverage_goals.html) where I show a simple program to enforce goals on subsets of the code.

BTW, version 4.0a6? Why? It's an alpha version from seven years ago!

[2022-08-06 17:49] nedbat commented on #1384
I agree with you, this would be useful.  Maybe someone would like to contribute it?

[2022-08-06 18:00] #1428 closed, assigned to nobody

[2022-08-06 19:55] arcivanov commented on #1428
@nedbat could I ask for a revision release to incorporate this fix, please?

[2022-08-06 20:58] nedbat commented on #1428
This is now released as part of [coverage 6.4.3](https://pypi.org/project/coverage/6.4.3).

[2022-08-06 20:58] nedbat commented on #972
This is now released as part of [coverage 6.4.3](https://pypi.org/project/coverage/6.4.3).

[2022-08-06 21:07] arcivanov commented on #1428
Thank you!

[2022-08-08 14:42] hynek opened #1433 "Missing coverage related to sys.exit()"
**Describe the bug**

I have a new (conveniently public) project where I can verify that certain lines are executed, but are reported as missing.

Here's a permalink: https://github.com/hynek/hatch-fancy-pypi-readme/blob/c84005d716b663f9125b0acba250e7b9ddf23661/src/hatch_fancy_pypi_readme/_cli.py#L43-L49

Coverage says: `src/hatch_fancy_pypi_readme/_cli.py            23      0      4      1    96%

[2022-08-08 20:15] kloczek commented on #1373
Just FTR: tested 6.4.3 and result still is the same.

[2022-08-08 23:28] tysonclugg commented on #1427
I'm very much aware of the measurement context features.  The issue is that I want _more_ context that what is currently possible.  A fundamental limitation here is that each arc [references a single context](https://coverage.readthedocs.io/en/6.4.2/dbschema.html#dbschema:~:text=key%20to%20%60file%60.-,context_id%20integer%2C%20%20%20%20%20%20%20%20%20%2D%2D%20foreign%20key%20to%20%60context%60.,-

[2022-08-09 05:55] KotlinIsland opened #1434 "type stubs"
I would like some type stubs for coverage, I see that you support >= 3.7 so types in the code would be possible (although perhaps not desirable).

I'm happy to drive this. just need to know if you want the stubs inline or in a separate package, or maybe even hosted on typehsed.

[2022-08-10 13:26] timozerrer commented on #1303
This issue still persists with `coverage==6.4.3` on Python 3.8

[2022-08-10 14:46] jdahlin commented on #691
@netbat I've ended up reimplementing different adhoc variants of this feature over the years and personally I think it would make a lot of since to include this inside coverage.py itself, to reduce number of dependencies and have a standardize way of doing it. I'm willing to help out with implementing & documenting this feature if you agree that it should go into coverage.py itself.

[2022-08-11 01:33] nedbat commented on #1433
the `43->49` doesn't mean "lines 43 through 49", it means, "the branch from 43 to 49".  Coverage things execution should be able to flow from line 43 to 49 (because 49 is the line after 43). It doesn't know that `_fail` always raises an exception, so it will never see execution flow from 43 to 49.

You could fix this by adding `# pragma: no branch` to line 43, to indicate that not all of its branc

[2022-08-11 04:45] hynek commented on #1433
Ah! Thanks, I use partial_branches. As a small nit for anyone coming with the same problem: it's `"^\s*_fail\("` (or `"^\\s*_fail\\("` in toml).

I guess this is expected then? It would be nice to have an annotation like NoReturn for coverage I guess but feel free to close.

[2022-08-12 05:01] bromiao123 commented on #1429
Have you got the e-mail?

[2022-08-12 09:01] SmartPycg opened #1435 "coverage report error"
Hi,I am interested in your project and want to count your test code's coverage but I failed to generate coverage report.

![image](https://user-images.githubusercontent.com/105635378/184321727-ccb72035-6711-4fa2-a348-86958f4d6bf9.png)

I used the following commands in python:3.7 docker：

[code]

Can you help me？

[2022-08-12 16:05] nedbat commented on #1435
I can't help with this error unless you provide full details of how to reproduce it.  What project are you running? You've shown `python setup.py install`, but I don't know what repo/project that is being run in.

[2022-08-15 12:17] DavidKorczynski opened #1436 "Continuous fuzzing by way of OSS-Fuzz"
**Is your feature request related to a problem? Please describe.**

My feature request is for integrating continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and can be used to find unexpected exceptions in Python.

I did an initial integration here: https://github.com/google/oss-fuzz/pull/8161 I did an initial integration into OSS-Fuzz.

The current fuzzer is

[2022-08-16 15:26] nedbat commented on #1436
(oops, I commented on the oss-fuzz PR).   You can use my email address for reports: ned@nedbatchelder.com.  I'm also wondering how best to connect to this from the coverage.py repo?

[2022-08-16 19:43] DavidKorczynski commented on #1436
Thanks @nedbat I added it in the OSS-Fuzz repo now!

I think the best way to connect the coveragepy repository with OSS-Fuzz would be to place the fuzzer source code somewhere e.g. `tests/fuzz` and then have the oss-fuzz `build.sh` script build the fuzzers using the source code from here.

The fuzzers are written to use Atheris: https://github.com/google/atheris

In the OSS-Fuzz repository we have

[2022-08-16 20:41] nedbat commented on #1434
I'd be interested in adding annotations right into the code.  I'd been using pycontracts as a pre-historic way of checking types, but that package is unmaintained and is causing pain.

If there are annotations, I want to run mypy, so we'd need some new tooling for that too.

[2022-08-16 23:41] KotlinIsland commented on #1434
Sounds cool, I'll give it a shot and make a PR, would you be interested in [basedmypy](https://github.com/KotlinIsland/basedmypy)?

[2022-08-17 00:01] KotlinIsland commented on #1434
While I'm here should I implement black?

[2022-08-17 00:12] nedbat commented on #1434
That's generous of you, but I don't want black for this repo, thanks.  I don't know anything about basedmypy, but I'm guessing I don't want that either, but maybe I'm wrong?

[2022-08-17 01:54] KotlinIsland commented on #1434
It's basically a fork of mypy with additional functionality.
basedmypy:
[code]
mypy:
[code]

[2022-08-17 12:19] lvyansheshou opened #1437 "coverage report raise NoDataError("No data to report.")"
Hi, The environment is Python 3.8.5 coverage py, version 6.4.4 x86_ 64 using the coverage API, report no data to report However, using the command line, print the report normally
![image](https://user-images.githubusercontent.com/26155625/185116641-4e278a85-de0a-4740-b981-5e12ed59f8b8.png)
![image](https://user-images.githubusercontent.com/26155625/185116693-dc2f59d1-c9ff-4ccb-ac2f-b4c1fd47d9c3.pn

[2022-08-17 21:51] nedbat commented on #1437
You say you are using the API, which means you have written some code to use the API.  You should share that code, and the command line you used that worked.  Ideally, you'd have a link to the complete project so that we can find other details we need.  Lastly, it's easier to help if you copy text and paste it as text rather than pasting screenshots.

[2022-08-19 06:03] agroszer opened #1439 "Set changed size during iteration"
Running a pretty sophisticated jenkins job to check our codebase.

[code]

**To Reproduce**
python 3.9.13 on ubuntu, coverage==6.4.2

Repro is tough, of course it fails only on jenkins with that job. Sometimes in a row of 4-5 runs. Most of the time all is fine.

Anyone seen this before? Any ideas?

[2022-08-19 20:08] nedbat commented on #1439
Can you tell us any more about your situation?  Are you using coverage commands, or the pytest-cov plugin, or your own Python calling the coverage.py API?  Is this a multi-threaded program?

[2022-08-20 14:15] johanneswilm commented on #1300
I am still seeing this. Coverage beyond 6.1.2 doesn't pick up on some lines being used. I am seeing this on Python 3.9.12 with a Django project (tried Django 3.2, 4.0 and 4.1).

[2022-08-20 16:01] nedbat commented on #1300
@johanneswilm can you provide me with a way to reproduce what you are seeing?

[2022-08-20 16:13] johanneswilm commented on #1300
Hey @nedbat ,
I think I solved it just now.

I had to replace this:
[code]

With:
[code]

If you still want to experiment with it, it happened in this OSS project: https://github.com/fiduswriter/fiduswriter . The github actions of main-branch is pinned to coverage==6.1.2, while in the develop branch just uses the latest release. The problem occurred in the develop-branch. Coverage as reported by c

[2022-08-21 13:23] Kludex commented on #691
It's easy to convince a team to just introduce a new configuration than a new file. 🤷‍♂️

I came across this issue 3 times already because I wanted to suggest it on different projects.

But well... The script should be enough. I would not suggest it tho, because the weight of having that file does not overcome the need for this functionality on a project. But... If it was in the coverage itself, i

[2022-08-21 13:49] nedbat commented on #1436
I've fixed the [first bug found](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50381) in https://github.com/nedbat/coveragepy/commit/3703bae58b53efec3314bc07b9de157049ad8b70.

I'm happy to let Google continue running the fuzzer, I don't need to do it locally I don't think.

[2022-08-21 20:26] DavidKorczynski commented on #1436
Wonderful @nedbat ! Looking forward to providing more fuzzers then!

[2022-08-21 20:26] #1436 closed, assigned to nobody

[2022-08-22 07:54] agroszer commented on #1439
Yes, this is a multi-threaded situation, we're running a paste webserver in one thread, the tests are running against that on the main thread. The test suite is run by `zope.testrunner`, we basically use `bin/coverage run -p bin/test --all -t selected_tests`.

Investigating further... Wanted to check whether anyone has ran into this.

[2022-08-23 18:00] hmcezar commented on #1303
I'm also having this issue with Python 3.8. The log is available here:

https://gist.github.com/hmcezar/96674132c64a20304070dbcb5a4c7d36

It happened when running tests for this PR:
https://github.com/Cascella-Group-UiO/HyMD/pull/181

[2022-08-23 21:45] chriselion commented on #691
This was super helpful to enforce full coverage on our test files (and uncovered so broken tests in the process).

Maybe as a middle ground, you could add this as a separate `console_script` in the `coverage` library, without actually making it to the `coverage` command?

One piece of feedback (which I can open a PR for if you want) would be to use `logging.error` on lines like
https://github.com/

[2022-08-24 14:17] Jiunixo opened #1440 "ctest compatibility"
**Describe the bug**
When I launch C++ or Python unit tests directly, all works perfectly and coverage datas are reported.
But when I launch the same tests with ctest, no datas are reported. However, sitecustomize.py is well launched and partial results are generated (setting parallel = True option), but no data is reported (when launching coverage report)..

**To Reproduce**
How can we reproduce

[2022-08-25 11:31] alittlesir opened #1441 "pip coverage rate cannot be collected"
**Describe the bug**
i code some self test case about `pip`. and i want to cout coverage of pip, but  maybe it is some wrong

**To Reproduce**
1. cd /usr/lib/python3.9/site-packages/pip
2. coverage run `__main__`.py install numpy

**Expected behavior**
cout coverage

**Additional context**
[code]

[2022-08-25 15:30] nedbat commented on #1441
If I understand correctly, you are trying to measure the code coverage of the pip test suite itself?  How are its tests usually run? Do they not use coverage already in their configurations?

[2022-08-26 17:52] ssbarnea commented on #1341
I can confirm that there is a clear bug in this area and when I commented `source` and used `include` the reported coverage went from 12% to 23%, even if xdist run on 10 cores (m1).

This is still far from the real coverage on the project, which is around 84% as measured with pytest-cov.

I should mention that I reached that place while trying to avoid using pytest-cov because it was reporting som

[2022-08-26 21:00] ssbarnea commented on #1341
After spending a good number of hours today trying to make it work w/o pytest-cov, I think I found the trick. In fact it was only one project that managed to get it working and that was via [https://github.com/python-attrs/attrs/pull/1011/files change.](https://github.com/python-attrs/attrs/pull/1011/files#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R67) change the the mag

[2022-08-27 06:48] alittlesir commented on #1441
yes, you are right, but if i input `pip install numpy`, and i only want to the command's coverage. how do i use?

as we know, if i code test.py, and i measure the file of coverage, i can input `coverage run test.py`, so i input `coverage run __main__.py install numpy`, why does it output `No data was collected.", slug="no-data-collected`

[2022-08-27 11:31] nedbat commented on #1441
It will depend on how you have configured coverage measurement in your .coveragerc file.  Try `coverage run -m pip install numpy` perhaps?

[2022-08-29 02:49] alittlesir commented on #1441
it still is not ok, maybe it is some wrong with `pip`

[2022-08-29 07:00] agroszer commented on #1439
After some more investigation (did not get fully to the bottom) looks like our webserver does something in `paste.httpserver.SecureHTTPServer` while `flush_data` is iterating over `data` in the main thread.
It's a huge pain to figure what's going on in the webserver thread so we opted to omit that piece of code (and actually the complete test support code) from being covered.

[2022-08-29 07:00] #1439 closed, assigned to nobody

[2022-08-30 21:21] andersk commented on #1434
For projects that use `coverage` as a library (such as test runners), it would be better if the type annotations worked with standard mypy and didn’t require a custom fork.

[2022-08-30 23:05] seanxiaoyan opened #1443 "Disagreement between log trace and XML coverage report"
**Describe the bug**
Disagreement between log trace and XML coverage report for the [Salt ](https://github.com/saltstack/salt) project integration test run.
Observing log trace generated through test run but the line of the corresponding logging statement is indicated as not covered

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer th

[2022-08-31 14:43] GadiZimerman opened #1444 "FAQ: Why do the bodies of functions show as executed, but the def lines do not? - Solution: spawn a new process"
from multiprocessing import Process, set_start_method

set_start_method("spawn")
process_cov = Process(target=calc_report_coverage, args=(...))
process_cov.start()
process_cov.join()

[2022-08-31 21:07] adam-azarchs commented on #963
As others have already noted, this applies to the `html` report type as well as the command line report.  It also applies to the `lcov` report, which is important for integrating into bazel (to avoid needing [this hack](https://github.com/bazelbuild/bazel/blob/fc21d6ad87ecd6097da40988a807a44878322f4c/src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt#L257-L281)

[2022-09-01 06:04] tanmayzengit commented on #1424
This was being a target for an intermediate goal for generating a code coverage for each pull request in github. Looks like there is no easy way to make it intuitively arrange the data in folders. Btw would appreciate any suggestions on how to report coverage metrics on every pr.
Regarding version 4.0a6 planning to move away from it. There could be interlinked dependencies that would make the enti

[2022-09-01 11:20] #1424 closed, assigned to nobody

[2022-09-02 02:27] Tritium-leo opened #1445 "Delete after generating files in the test phase. coverage will raise no such file or directory error"
**Describe the bug**
Delete after generating files in the test phase

I generated files during the test phase and then deleted them. When outputting the results, coverage scans them. Then, in xmlreport, filenotfounderror: [errno 2] no such file or directory Call HTML_ Report will not make an error

I tried to use omit to filter my temporary file directory, but it didn't work

**To Reproduce**
pyth

[2022-09-02 11:39] nedbat commented on #1445
Can you give me a repo that I can use to reproduce the problem? It will be easier to see all the details that way.

[2022-09-03 02:46] nathan-hess opened #1446 "Incorrect coverage if using chained operators"
**Describe the bug**
When using chained operators in an `if` statement (`4 > i > 2`), the code coverage report incorrectly shows that lines of code didn't run when they did.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using? **Python 3.8.10**
2. What version of coverage.py s

[2022-09-03 11:09] nedbat commented on #1446
It looks like this is a result of compiler optimizations that vary across versions:

chained.py:
[code]

Running 3.7 through 3.11:
[code]

We can look at the compiled bytecode for 3.8 and see that line 5 can't be reached.  The jump to jumps are optimized away:
[code]

[2022-09-03 20:51] #1446 closed, assigned to nobody

[2022-09-04 03:31] nathan-hess commented on #1446
Thanks for the quick and detailed reply!  I see what you mean, and in a sense I suppose optimizing the code this way isn't even a bug, just a way to skip an unnecessary instruction.

That said, I do wish there were a way that coverage.py could recognize this behavior, since it's a bit counterintuitive to users since that part of the code is in fact reached (it's just that Python recognizes that if

[2022-09-04 11:15] nedbat commented on #1444
I think you are suggesting that we add this to the FAQ?  This seems like a not-great way to solve the problem.  Why not use the `coverage run` command to run coverage and measure all the code?  Or maybe I've misunderstood what you are suggesting?

[2022-09-04 12:54] nedbat commented on #1315
Feel free to re-open this if you get more information.

[2022-09-04 12:54] #1315 closed, assigned to nobody

[2022-09-04 12:55] nedbat commented on #1374
Feel free to re-open this if you get more information.

[2022-09-04 12:55] #1374 closed, assigned to nobody

[2022-09-04 12:56] nedbat commented on #1340
Feel free to re-open this if you get more information.

[2022-09-04 12:56] #1340 closed, assigned to nobody

[2022-09-04 14:51] nedbat commented on #1362
Feel free to re-open this if you get more information.

[2022-09-04 14:51] #1362 closed, assigned to nobody

[2022-09-04 14:52] nedbat commented on #1334
Feel free to re-open this if you get more information about how to reproduce it.

[2022-09-04 14:52] #1334 closed, assigned to nobody

[2022-09-04 14:53] #1338 closed, assigned to nobody

[2022-09-04 15:06] nedbat commented on #1441
I still want to understand what you are trying to do: are you making a change to pip and want to run its test suite? Have you read this?  https://github.com/pypa/pip/blob/main/docs/html/development/getting-started.rst#running-tests

[2022-09-04 20:13] nedbat commented on #1440
Sorry, but I don't know what ctest is, or how to use it.  Can you make a simple reproducer that I can try?

[2022-09-04 22:09] nedbat commented on #1382
I can reproduce this with:
[code]
But there is a lot of stuff going on here that I don't understand.  I don't see why coverage would affect things, or why PyPy would behave differently, but they do.

[2022-09-05 01:25] alittlesir commented on #1441
Thank you for your reply. maybe i know how to measure with `coverage`

yes, i read it, but it is a bug with the test suite of pip,https://github.com/pypa/pip/issues/11415

and the pip measure  coverage with `pytest-cov` in its test suite,  and i found it is some wrong with `pytest-cov`, https://github.com/pytest-dev/pytest-cov/issues/552. I don't know if it's a bug.

[2022-09-05 10:43] nedbat commented on #1441
You've linked to pypa/pip#11415, which clearly shows coverage data being collected for pip, so I'm going to close this issue.  It sounds like you need to write some tests for the pip test suite.

[2022-09-05 10:43] #1441 closed, assigned to nobody

[2022-09-05 17:36] nedbat commented on #1382
A clue: Python 3.9 also fails if you use the Python tracer instead of the C tracer (the `--timid` option).

[2022-09-07 19:19] nedbat commented on #1395
I've made a pull request: #1447.  It didn't have an problem with greenlet, should I be concerned?

[2022-09-07 19:22] nedbat commented on #1395
Hmm, I was using greenlet==1.1.2 and it worked, but in the meantime they've released 1.1.3 as requested in python-greenlet/greenlet#305, so all is well I guess.

[2022-09-07 23:37] math-a3k opened #1448 "Problems with `combine` when not used from cmdline"
**Describe the bug**
The following snippet is being used for integrate coverage.py into Django's manage.py:
[code]
and the following config:
[code]

The problem is that when run from manage.py, it combines the files to the first one including the suffix and not renaming it to just .coverage. The report that shows is good, but when `coverage html` is run, it fails due to lack of data.

If `coverage

[2022-09-08 12:27] mgoldbas commented on #1303
I am facing this issue as well using a local version of make triggered by pre-commit

[2022-09-08 13:13] math-a3k commented on #1448
This may not be a bug itself - as it works - but rather a question on how to integrate the software (sorry, I can't change the labels once submitted)

[2022-09-13 11:10] nedbat commented on #1395
This is in commit 447334c4.

[2022-09-15 11:39] arttuperala opened #1449 "Class definitions interpreted as branches"
**Describe the bug**
Using `coverage run --branch` reports an unexpected number of branches in a file with class definitions when using coverage >= 6.2.

**To Reproduce**
[code]

[code]

Generating the result XML file shows that the branch statement comes from the first line in the test file.

[code]

Downgrading to 6.1.2 yields a different (but expected) result.

[code]

6.2 is the earliest versi

[2022-09-17 12:19] nedbat commented on #1395
Now that I've done this, I can no longer run my test suite while offline.  Is there way to run "make clean; tox" while not connected to the internet?

[2022-09-17 15:20] ssbarnea commented on #1395
Pip can be used offline, but you probably forgot something. Something that I almost always add inside tox file, is a `PIP_DISABLE_VERSION_CHECK=1` to setenv as pip is too aggressive about that.

[2022-09-17 15:34] layday commented on #1395
I assume the issue is that pip attempts to install wheel which is not provisioned by venv.  You could try downloading wheel ahead of time and setting `PIP_NO_INDEX=1` and `PIP_FIND_LINKS=/path/to/wheel/dir` in your environment.

[2022-09-17 22:49] nedbat commented on #1395
This was what I tried: run the test suite once while online, turn off the network, run tox exactly the same again. No cleaning, etc.  The second run fails.  What am I doing wrong, or what do I have to do differently?

[code]

Turned off the wifi, then:

[code]

[2022-09-18 10:35] ssbarnea commented on #1395
I suspect that this might be caused by either virtualenv or venv.

For example virtualenv has some optional flags `--no-download` and `--never-download`, which I am unable to see any for venv, but at the same time, AFAIK venv itself with not go online.

Try venv(s) first, to rule them out.

[2022-09-18 11:18] pfmoore commented on #1395
The problem is that pip is building the project (the `python -m pip install -q -e .` command) in an isolated environment. That's a newly created environment where everything gets installed from scratch. You are offline, so pip can't get setuptools and wheel from PyPI.

What you need to do is download wheels for setuptools and wheel from PyPI, and store them somewhere local. Then, when you're offli

[2022-09-19 13:42] romain-dartigues commented on #1383
@createdbysk: I don't know what is in your `main.py`; have you tested forcing values in the [`report`](https://coverage.readthedocs.io/en/6.4.4/config.html#report) sections? such as `skip_empty`, etc.

[2022-09-20 02:14] hoodmane opened #1450 "Doesn't seem to work in Pyodide"
**Describe the bug**
Doesn't work as expected in Pyodide. I was hoping one of you could look into it.

**To Reproduce**
1. Go to https://pyodide.org/en/latest/console.html
2. Open browser console
3. Paste the following code into it:
[code]

**Expected behavior**
It should collect the coverage. Instead, it seems not to have done so and it prints `CoverageWarning: No data was collected.`
If I run th

[2022-09-20 11:31] nedbat commented on #1450
Help me learn how to use pyodide :)  When I paste your code into the console, I have to `import pyodide` first, but then I'm told, `AttributeError: module 'pyodide' has no attribute 'runPython'`.

You say:

Those are C defines, are those used in the pyodide environment?

[2022-09-20 16:52] dbritto-dev commented on #1450
Hey folks I would like to help :).

[2022-09-20 18:50] dbritto-dev commented on #1450
@hoodmane looks like the only way to **analyse** something using **The Coverage class** is by calling `.analysis()` method and that currently only accept a file/module. To make it works we need to create a file and then pass the filename to `.analysis()` method.

Here's the example:

[code]

Maybe I'm wrong. What you think @nedbat ?

[2022-09-20 20:01] hoodmane commented on #1450
Ah if I've just been using it wrong that's great. What confuses me is I don't get the same warning when I use it in native Python.

By the way I have two use cases for this:

Currently we are using coverage in the Pyodide test suite but we are only using the native version of coverage not the wasm version so lines of code that are covered in wasm tests but not native tests don't get counted. I wou

[2022-09-21 03:43] dbritto-dev commented on #1450
@hoodmane tag me if you need some help. I'll be available to play with pyodide and coverage.

[2022-09-21 03:56] hoodmane commented on #1450
Thanks for your help @dbritto-dev @nedbat much appreciated.

@dbritto-dev I tried your example and it raised an error.
[code]
Did it behave differently when you tried it?
<details>
<summary>Screenshot</summary>

![Screenshot from 2022-09-20 20-55-17](https://user-images.githubusercontent.com/8739626/191410897-d8ae25f7-2f9d-4344-9788-6d4b8a471b88.png)

</details>

[2022-09-21 04:00] dbritto-dev commented on #1450
@hoodmane did you tried using my version? I haven't tried with pathlib package

[2022-09-21 04:00] hoodmane commented on #1450
Right, you have to paste the code into the browser console, not into the "Pyodide terminal emulator" you see on screen. (I set up my code examples this way because the browser console is a much better console than our "terminal emulator".)

I mean I defined them by compiling with `-DWHAT_LOG -DTRACE_LOG`.

[2022-09-21 04:00] hoodmane commented on #1450
Yeah I tried your version and the error is the same. Both write the same file, so it shouldn't make a difference:

<details>
<summary>Screenshot</summary>

![Screenshot from 2022-09-20 21-01-03](https://user-images.githubusercontent.com/8739626/191411627-0c57f974-c5a3-4d4d-9d90-cad86ee5825a.png)

</details>

[2022-09-21 04:09] dbritto-dev commented on #1450
@hoodmane interesting. In my case works without any issues. I agree with you, with pathlib package should works as well.

[2022-09-21 04:12] hoodmane commented on #1450
Are you using https://pyodide.org/en/latest/console.html? Could you post a similar screenshot showing what happens when you run the code? It is surprising that we don't get the same results.

[2022-09-21 04:19] dbritto-dev commented on #1450
@hoodmane I'll do it tomorrow as soon as possible

[2022-09-21 12:53] dbritto-dev commented on #1450
@hoodmane I did some research and I found this:

This version doesn't work

[code]

This version works

[code]

![Screenshot from 2022-09-21 07-53-51](https://user-images.githubusercontent.com/1697714/191509084-9c7b146e-740c-444d-8750-1634ae387bca.png)

Alternative version

[code]

[2022-09-21 14:50] dbritto-dev commented on #1450
@nedbat @hoodmane I got some news I've been doing some experiments following the pattern that coverage is using in they're tests ->

[code]

[2022-09-22 10:40] cclauss opened #1451 "Config via pyproject.toml should be builtin and not require coverage[toml]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I want to configure tools using `pyproject.toml` but I have to change how coverage is installed.

The docs currently say:

As more projects consolidate their configuration using [PEP 621](https://peps.python.org/

[2022-09-22 11:12] nedbat commented on #1451
On Python3.11, you don't need the extra.  I'm reluctant to add a dependency which isn't needed.  If you know you need toml support in pre-Python3.11, is it a burden to state that? Or, leave off the extra, knowing that you already have tomli installed in your environment.

[2022-09-22 11:12] #1451 closed, assigned to nobody

[2022-09-22 19:34] dbritto-dev commented on #1450
@hoodmane let me know if that works for you

[2022-09-22 23:35] hoodmane commented on #1450
Yup works for me. Thanks!

[2022-09-22 23:36] #1450 closed, assigned to nobody

[2022-09-23 08:17] jonathankehler commented on #1303
Seeing this in python 3.8 with `coverage==6.4.4`

[2022-09-23 23:27] marcuscop opened #1452 ""No data to report." when using coverage alone"
**Describe the bug**
When using coverage without pytest, I cannot generate a report.

**To Reproduce**
1. What version of Python are you using?
Python 3.7.11
2. What version of coverage.py shows the problem?
coverage=5.5
4. What versions of what packages do you have installed?
pytest = "6.2.5"
pytest-asyncio = "0.19.0"
pytest-cov = "3.0.0"
pytest-xdist = "2.5.0"
coverage = "5.5"
5. What commands d

[2022-09-24 15:13] nedbat commented on #1452
I don't understand: `coverage run` won't try to make a report, so I'm not sure how it can output "No data to report."?  Can you provide me with a reproducible case? That is, a repo to clone, and commands to run?

Also, why use coverage==5.5? That's 18 months old.

[2022-09-24 15:39] marcuscop commented on #1452
Hi, thanks for the reply. I meant coverage report followed by those commands gives that message. Before I go further to make an example, I will try latest version.

[2022-09-24 15:50] ssbarnea commented on #1302
To be honest, I do think that modernizing the code should be an ongoing process and I find @exhuma proposal as welcomed. That is usually a boring and time consuming activity. Still, that does not make it useless at all.

I observed few things that are clearly outdated about the project:
- it does not have type information (py.typed)
- it did not ditch setup.py, aka PEP-621 - just few minutes ago I

[2022-09-24 17:50] ubaldot opened #1453 "I got different results locally and on GitHub."
**Describe the bug**
I run this command: `coverage run -m pytest .`  followed by `coverage report -m` both locally and on a GitHub action.
This is the result that I get locally:
[code]

and here is what I get on GitHub:

[code]

It seems that `pytest` run correctly in both sides, but `coverage` does not seem to pick the actual code on GitHub.
Any suggestions?

**Additional context**
I tried to use

[2022-09-24 18:15] ubaldot commented on #1453
FIXED.
The solution was to call `coverage `as it follows:

`coverage run --source=dymoval -m pytest`

[2022-09-24 18:15] #1453 closed, assigned to nobody

[2022-09-25 13:19] nedbat commented on #1302
- For type information, there is a partial pull request: https://github.com/nedbat/coveragepy/pull/1442.  Maybe people can join forces to finish it.
- For setup.py, I am one of the packaging-confused that doesn't understand all of the forces at work, or how to be "modern."  My setup.py does quite a lot.  I am not opposed to changing it, but will need help.
- For optparse: honestly, what difference

[2022-09-25 20:52] vsajip commented on #1433
Not sure if related, but I get a line with `sys.exit()` reported as not covered when I'm pretty sure it is executed - this is with `coverage` 6.4.4. See the last line of code on [this page](https://app.codecov.io/gh/vsajip/pagesign/blob/main/test_pagesign.py) on CodeCov. The [source repo with the coverage run in its workflow](https://github.com/vsajip/pagesign) is public.

[2022-09-25 21:41] nedbat commented on #1433
Are you sure there's no exception being raised?  Lines 266-277 are catching specific exceptions, but others would fly by and skip line 278.

[2022-09-26 02:45] ShaheedHaque opened #1454 "Running more tests causes coverage to decrease"
**Describe the bug**
I have a rather complicated setup (see #1318) where running a full suite of tests reports many lines in many files as not covered when I know for certain they are in fact executed during the tests. In trying to narrow the scope of the issue, I discovered that running a small set of tests causes the reported coverage in a single, sample, source file to be 80% while running the

[2022-09-26 06:43] vsajip commented on #1433
Oh, good catch. I'd missed a `catch SystemExit:` - sorry for the noise.

[2022-09-26 08:32] staweld opened #1455 "How do get some help around here? unbelievably I'm cash poor WB"
**Describe the bug**
A clear and concise description of the bug.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using?
1. What version of coverage.py shows the problem? The output of `coverage debug sys` is helpful.
1. What versions of what packages do you have installed? The o

[2022-09-26 10:30] #1455 closed, assigned to nobody

[2022-09-26 10:32] #1433 closed, assigned to nobody

[2022-09-26 17:07] nedbat commented on #1454
I'm not sure where to begin debugging this via issue discussion, which is always difficult.
- Can you add `--debug=config,sys` to your coverage run, and show the output?
- Can you explain this line? `touch .coveragerc.enabled # Enable coverage using built-in calls to the coverage API.` What are "built-in calls to the coverage API," and why?
- What is `.coveragerc.enabled` compared to the config fi

[2022-09-26 18:53] marcuscop commented on #1452
@nedbat My .coveragerc contained this line:
[code]
so it couldn't find the report under that directory when doing a `coverage report`. I removed this line and it works now.

[2022-09-26 19:03] #1452 closed, assigned to nobody

[2022-09-26 22:41] nedbat commented on #1303
If you are seeing this error, please provide a way for me to reproduce it. What repo should I clone, and what commands should I run?

[2022-09-27 07:54] hmcezar commented on #1303
@nedbat from my understanding, this is not something you can consistently reproduce. If you want to see one of the cases in which it happened, please check the log of the following CI action:
https://github.com/Cascella-Group-UiO/HyMD/actions/runs/2913278694/jobs/4640884182

This happened in one of the commits ([5890a80](https://github.com/Cascella-Group-UiO/HyMD/pull/181/commits/5890a80e47d51711f

[2022-09-27 12:08] nedbat commented on #1449
Hmm, I'm not sure why I changed this in 6.2, but I think you are right: classes shouldn't be considered branches.  I've put back the old behavior in commit fd369186.

A remaining mystery is why classes were considered branches when `def` lines were not...

[2022-09-27 12:08] #1449 closed, assigned to nobody

[2022-09-27 14:15] ShaheedHaque commented on #1454
Understood.

[code]

I should have explained. Since Django is a server process and is launched indirectly in several different ways (e.g. via Celery or the local equivalent of systemd), I wanted to be sure that coverage is invoked uniformly in all cases. So, I include calls to the coverage API to start/stop the instrumentation and use the presence of the `.coveragerc.enabled` as a "boolean" to ena

[2022-09-27 16:24] vsajip opened #1456 "Branch coverage in finally block unexpectedly affected by catch block"
**Describe the bug**
If a block such as
[code]
has 100% branch coverage, then adding an exception block can change things even when the exception isn't triggered:
[code]
The `finally` code branch coverage goes *down*.

**To Reproduce**
How can we reproduce the problem?  Please *be specific*. Don't link to a failing CI job. Answer the questions below:
1. What version of Python are you using? *See `

[2022-09-28 13:38] hmcezar commented on #1303
Just an update, the bug happened again in my GitHub actions (see repository https://github.com/Cascella-Group-UiO/HyMD) and the build is "failing" due to the bug.
I checked out the code that did not pass in the main branch and tried running the tests locally, but even after ~20 runs, I didn't manage to reproduce the bug.
I really think that it happens more often (not to say, only) in GitHub action

[2022-09-28 19:19] vsajip commented on #1456
Short reproducing program:
[code]

[2022-09-29 11:19] nedbat commented on #1425
Completed as of 95195b13.

[2022-09-29 11:20] #1425 closed, assigned to nobody

[2022-09-29 18:05] #1350 closed, assigned to nobody

[2022-09-29 20:38] Kludex commented on #1302
Do you want it to be in a single PR? What I did on `uvicorn` was progressively add type annotation: https://github.com/encode/uvicorn/blob/c21e5779c15eaaf6604834c1c1a3b9107ffb4fb9/setup.cfg#L5-L55

[2022-09-29 20:47] ssbarnea commented on #1302
@Kludex My personal take was that is better to make it gradual. I had few projects where adding type took 10+ changes over a couple of months, just to minimize the chance of conflict with other work.

[2022-09-29 21:01] kloczek commented on #1373
Can you drop patch with such instrumentation?

[2022-09-29 21:38] nedbat commented on #1425
This is now released as part of [coverage 6.5.0](https://pypi.org/project/coverage/6.5.0).

[2022-09-29 21:38] nedbat commented on #1449
This is now released as part of [coverage 6.5.0](https://pypi.org/project/coverage/6.5.0).

[2022-09-29 21:39] nedbat commented on #1395
This is now released as part of [coverage 6.5.0](https://pypi.org/project/coverage/6.5.0).

[2022-09-29 21:39] #1395 closed, assigned to nobody

[2022-09-30 04:05] freakboy3742 commented on #991
In case it helps anyone else: I've been able to work around this by [re-writing the Windows coverage file](https://github.com/beeware/briefcase/pull/887/commits/cf3177320169657cd1d0d0d919fd744eb78a6777) *prior* to `coverage combine`. As long as you use `relative_files = True`, it's a 1 liner in sqlite3:

    sqlite3 .coverage.* "update file set path = replace(path, '\\', '/')"

If you aren't using

[2022-09-30 06:36] exhuma commented on #1302
I also believe that adding type-hints gradually is less painful.

In any case, I'd like to chime in, considering that I am the author of the issue 😉

I understand @nedbat with the caution about changing code just for the sake of "modernising". I myself prefer to keep something unmodified while it's working lest I accidentally introduce unexpected bugs/side-effects.

However, "modernising" the code

[2022-10-02 07:28] elParaguayo opened #1458 "Some multiprocessing processes not covered (but were covered by pytest-cov 3.0.0)"
**Describe the bug**
I am one of the developers of [qtile](https://github.com/qtile/qtile). We have a fairly large test suite that we ran with `pytest-cov`. Since they dropped `multiprocessing` support in 4.0.0, I have followed [their advice](https://pytest-cov.readthedocs.io/en/latest/changelog.html#id1) to use `coverage`. The `.coveragerc` file looks like this:
[code]

I am getting a few discrep

[2022-10-02 08:32] elParaguayo commented on #1458
Been playing some more with this.

Firstly, I know the code in the subprocess is being executed as I can include a print statement and see the output when passing the `-s` flag to pytest. Despite that, the line is not shown as covered by `coverage report -m`.

However, if I explicitly add an extra call to run the uncovered code (we can communicate with the subprocess via a command interface) then

[2022-10-02 21:59] nedbat commented on #991
Thanks for bring this to back to my attention, and sorry for letting it languish.

Definitely one thing is needed to fix this: if `relative_files=True`, then an entry in `[paths]` like `foo` should remain `foo` instead of being made absolute (`/home/runner/project/foo` or whatever).  That's this:
[code]

Then if you had an entry like `*/tests` (as @cjolowicz does), you could change it to `tests` i

[2022-10-02 22:36] nedbat commented on #991
Actually, we don't even need the change in my diff if `*/foo` will match `foo/bar/baz.etc`.

[2022-10-02 22:57] freakboy3742 commented on #991
@nedbat That may be *a* bug, but I don't think it's related to the problem being described here (or, if it is, I'm not seeing the connection).

The issue I addressed with that SQLite hack isn't anything to do with the prefix; `relative_paths` is a bit of a red herring. The issue is Windows vs macOS/Unix path separators.

If you have a coverage file generated on macOS/Unix, the coverage data will r

[2022-10-02 23:15] nedbat commented on #991
@freakboy3742 are you using the `[paths]` setting to help combine files from different machines?  I didn't see it in your branch for https://github.com/beeware/briefcase/pull/887.   When combining, we try to adjust the separators so they will work properly across operating systems.  Perhaps that's a non-obvious approach.

What's the best way for me to see the failing case when the separators aren'

[2022-10-02 23:23] freakboy3742 commented on #991
@nedbat  I'm not; I'm using `relative_paths` because the base paths aren't predictable (because end users and/or CI won't be using `C:\Users\rkm\beeware\briefcase` as the source location).

As for the failing case - the coverage files I've uploaded contain the generated data; that data is from commit [0cd2ca0](https://github.com/beeware/briefcase/pull/887/commits/0cd2ca07607e48b9eebdf60790bb0c318f

[2022-10-03 01:46] nedbat commented on #991
I've made some changes on a branch:
[code]
@cjolowicz This should make your code combine and report correctly as-is.
@freakboy3742 Can you add this to your pyproject.toml and try it without your SQLite fixup:?
[code]

[2022-10-03 01:53] nedbat commented on #991
Perhaps this should be more automatic, since `src = ["src", "*/src"]` seems kind of self-evident in a way.

[2022-10-03 03:15] freakboy3742 commented on #991
@nedbat Can confirm the branch plus that config change fixes the problem I'm seeing without the need for the SQLite fix.

[2022-10-03 16:19] altendky commented on #991
Thanks for taking a look at this again nedbat.  I tried out the branch and also added a trivial path section to the config and I still get errors around the `\` path separator.  https://github.com/Chia-Network/chia-blockchain/pull/13587  This seems to be counter to comments above so perhaps I am still missing a piece.

https://github.com/Chia-Network/chia-blockchain/actions/runs/3175559386/jobs/51

[2022-10-03 21:08] nedbat commented on #991
@altendky thanks for looking into it.  Can you add `--debug=pathmap` to the `coverage combine` step? It will show the file names it is considering, and how the get remapped.

[2022-10-03 22:21] altendky commented on #991
Sure thing.

https://github.com/Chia-Network/chia-blockchain/actions/runs/3177768807/jobs/5178689238#step:7:54
[code]

[2022-10-03 22:27] nedbat commented on #991
@altendky I see what happened.  The earlier discussion was about a pyproject.toml file, and you put that snippet into your .coveragerc file.  The syntax you need is different:
[code]

[2022-10-03 22:30] altendky commented on #991
And here I thought I was being a good little dev and exactly following the example.  `:]`  Fixing now.

[2022-10-03 23:32] altendky commented on #991
Yep, that works.  Thanks for identifying my error.

https://github.com/Chia-Network/chia-blockchain/actions/runs/3177937330/jobs/5179030056#step:7:3405
[code]

It is apparently not obvious that this would be needed to trigger platform compatibility.  `:]`  I would suggest considering making directory separator compatibility automatic and perhaps separate from path equivalency configuration.

But a

[2022-10-04 00:56] adam-grant-hendry opened #1459 "No Source for Code"
**Describe the bug**
I'm attempting to follow your recent blog post on [Making a coverage badge](https://nedbatchelder.com/blog/202209/making_a_coverage_badge.html) and always run into the same error:

[code]

I tried deleting `*.pyc` files after reading [this SO post](https://stackoverflow.com/questions/2386975/no-source-for-code-message-in-coverage-py), but it didn't solve my problem. I also sea

[2022-10-04 01:36] nedbat commented on #1459
Can you add some debugging? Before your `coverage combine` command, add `coverage debug data`, and change the combine step to `coverage combine --debug=pathmap`.  That will give us some good data.

[2022-10-04 01:40] adam-grant-hendry commented on #1459
@nedbat Yes, I'll do that right now. Give me a couple minutes to report back.

[2022-10-04 01:43] nedbat commented on #1458
Hi, I only just saw that pytest-cov 4.0.0 dropped support for multiprocessing, and they dropped it because it didn't always work.  To be honest, I'm not sure what to suggest to you.  The sigterm support in coverage.py was a problem also, which is why it's an option rather than always enabled.

[2022-10-04 01:48] nedbat commented on #1456
I think I understand what is happening here.  In your first code example:
[code]
the "finally" code can only execute one way: because "some code" has finished.  There's only one path through the finally code, and it is executed, giving you 100% branch coverage.

In the second code:
[code]
there are two ways to run "some finally code": "some code" can finish normally (which it does), and "raise Som

[2022-10-04 02:09] adam-grant-hendry commented on #1459
The link to the latest run is [here](https://github.com/adam-grant-hendry/qtpygraph/actions/runs/3178835353), but the relevant output is as follows:

<details>
<summary><b>commands[0] | coverage debug data</b></summary>

[code]
</details>

<details>
<summary><b>commands[1] | coverage combine --debug=pathmap</b></summary>

[code]
</details>

<details>
<summary><b>commands[2] | coverage report -m --

[2022-10-04 02:12] adam-grant-hendry commented on #1459
@nedbat The regex's seem to start with `/home/`, but the data paths start with `/Users/`. Does that have any bearing on this?

[2022-10-04 02:24] adam-grant-hendry commented on #1459
@nedbat Actually, if I'm reading the `--debug=pathmap` output correctly, it looks like my `coverage.run.paths` might not be set up correctly.

Here are the relevant portions of my `pyproject.toml` `[tool.coverage.*]` configuration entries (if you see anything, please let me know):

[code]

[2022-10-04 04:07] adam-grant-hendry commented on #1459
@nedbat Indeed, switching my `tool.coverage.paths` fixed the problem:

[code]

but:

1. I don't understand why. I took a page from `scriv`'s `tox.ini`. Can you explain a little more of what is going on here?

2. I've now run into another problem: the `schneegans/dynamic-badges-action` isn't letting me write to my gist:

[code]

Below is the relevant section of my workflow file (`test.yml`):

[code

[2022-10-04 04:37] adam-grant-hendry commented on #1459
@nedbat I opened [issue #15](https://github.com/Schneegans/dynamic-badges-action/issues/15) on `dynamic-bages-action` for my second problem, so if you can explain why changing my `[tool.coverage.paths]` fixed the problem, we can close this issue.

[2022-10-04 07:38] elParaguayo commented on #1458
Thanks for the reply. That's fine and makes sense given python-cov's position too.

I'll close this as it doesn't sound like there's necessarily a fix.

I'll also take a look at the python-cov code to see if I can work out what they added as we did get consistent results with that.

[2022-10-04 07:38] #1458 closed, assigned to nobody

[2022-10-04 08:49] vsajip commented on #1456
OK, thanks for the explanation. Shall I close the issue? I ask in case you want to look into it further. I added some test cases to make sure the exception _was_ raised, and now I have 100% coverage again.

Thank you so much for all your work on `coverage`.

[2022-10-06 12:56] gmunumel opened #1464 "No reports generated while use opencv"
Hello,

After execute `coverage run -m pytest -v`  _config-3.py_ and _config.py_ are automatically generated but doesn't exists in my project. If I run `coverage report` I get:

[code]

To reproduce:

My **test_app.py**

[code]

My **app.py** is not relevant and it's empty.

If I remove the `import cv2` everything works as expected. Do you have any idea?

Python version: 3.9.7

<details>
  <summar

[2022-10-06 19:18] Preocts commented on #1459
Starting disclaimer: I am not an authority on the subject, just another dev working through a very similar issue (now resolved thanks to this thread).

The key difference appears to be the [`isolated_build = true`](https://github.com/adam-grant-hendry/qtpygraph/blob/main/pyproject.toml#L415) flag that the scriv project does not use. If I understand [this](https://github.com/tox-dev/tox/issues/1137

[2022-10-07 10:54] gmunumel commented on #1464
Fixed the issue adding the following to my `.coveragerc`:

[code]

[2022-10-07 10:54] #1464 closed, assigned to nobody

[2022-10-08 21:38] nedbat commented on #1448
I don't quite understand what's happening here yet, but I'm wondering why do it this way instead of using the coverage command-line interface?

[2022-10-08 21:53] nedbat commented on #1448
TBH, I don't quite understand why it behaves as it does, but you can fix it:
[code]

[2022-10-08 21:53] nedbat commented on #1448
And this make some sense because when run from the command line, `coverage run` and `coverage combine` each start a new Coverage object.

[2022-10-08 21:53] #1448 closed, assigned to nobody

[2022-10-08 21:54] math-a3k commented on #1448
Hi @nedbat! Thanks a lot!

[2022-10-09 00:17] math-a3k commented on #1448
@nedbat, it still doesn't report the coverage correctly. This would be to reproduce the behavior of pytest - where just by running "pytest" you get the coverage report once integration with coverage.py is done - in django test runner. This would be a nice to have, but a simple shell script:

[code]
does the trick.

The idea was taken from https://adamj.eu/tech/2019/04/30/getting-a-django-applicati

[2022-10-09 23:20] nedbat commented on #991
Hi, I've added more to the nedbat/bug991 branch (commit 285ca254). Now relative paths will be combined implicitly, so you shouldn't need "obvious" `[paths]` configurations anymore.  @freakboy3742 @altendky can you try it on your projects with no `[paths]` settings at all?  You will still need the `coverage combine` step.

[2022-10-10 09:08] freakboy3742 commented on #991
@nedbat No luck, sorry - commit 285ca25 without a `[paths]` config isn't working for me.

## pyproject.toml
[code]

## Combine and report:
[code]

I get the same result if I disable `relative_paths`, except the error becomes:
[code]

[2022-10-10 11:12] nedbat commented on #991
@freakboy3742 hmm, i've been running your project as a test, that's odd.  Can you try these commands?
[code]

[2022-10-10 12:26] ionelmc commented on #1382
A simpler reproducer:
[code]

Assertion fails with coverage on.

[2022-10-10 12:29] ionelmc commented on #1382
So I've tried this and it happens with hunter too 🙃
This fails:
[code]
This works:
[code]

I believe something goes wrong in the LazyObject class definition when it's traced.

[2022-10-10 13:12] ionelmc commented on #1382
Ok this is the minimal reproducer (seems to fail both for pypy and cpython):
[code]

[2022-10-10 14:13] altendky commented on #991
Seems ok here without the `[paths]` section.

https://github.com/Chia-Network/chia-blockchain/actions/runs/3216374294/jobs/5258265284#step:7:3472
[code]

Also looks ok in the next run where I removed the coverage debug, other debug, and CI minimization.

Thanks for cleaning this up here.  `:]`

[2022-10-10 19:44] nedbat commented on #1415
Hi, sorry it's taken me so long to get to this.

I'm making some improvements (described in #991, which isn't really about slash direction) that might make this easier.  I have a project using src layout ([scriv](https://github.com/nedbat/scriv)). It's coverage measurement includes this `[paths]` setting:
[code]
Do you use `coverage combine`? Have you tried configuring the `[paths]`?  The latest v

[2022-10-10 21:10] nedbat commented on #1407
@Kache I see what you mean.  I'm using fnmatch.translate() to turn file name patterns into regexes, and it converts `"./*.py"` into `r"\./.*\.py"`, and the `".*"` in the middle matches directory separators.  This is because fnmatch is only meant for matching file names and not full file paths. I'm using it incorrectly, and I need to do something about that.

[2022-10-10 23:52] freakboy3742 commented on #991
@nedbat Log output below.

Test suite is running on an x86 Mac mini running Monterey (12.5.1), and a Parallels virtual machine on the same physical machine running Windows 10. The Parallels machine is accessing the source folder over a network drive (hence the `\\MAC\HOME\beeware` path mentioned in my last post). The Briefcase repo is at commit 385a4aa1.

<details>
  <summary>Setup</summary>

[cod

[2022-10-11 00:38] nedbat commented on #991
@freakboy3742 thanks for sticking with me on this.  I don't understand why the debug output isn't appearing in the combine step.  Can you make it `--debug=sys,config,pathmap`, and we'll get some clues? It seems like it's not running the code from the branch, but I see that it installed the code from the branch.

[2022-10-11 00:48] freakboy3742 commented on #991
@nedbat
<details>
  <summary>python -m coverage combine --debug=sys,config,pathmap</summary>

[code]
</details>

[2022-10-12 12:32] allisonkarlitskaya commented on #1415
Thanks for your reply!  It helped a lot.

As things are, I don't use `coverage combine` in my project.

In response to your suggestion, I've added the following to my `pyproject.toml`:

[code]

and adjusted my coverage setup to invoke `run` with `-p` and add a separate `combine` step.

[code]

The result is that the reported paths now look like the following:

[code]

which I consider to be accept

[2022-10-12 23:37] tucked opened #1466 "Sometimes missing branch coverage is only detected in py38 and py39."
[code]
[code]
[code]
[code]
[code]

**Expected behavior**
py38 and py39 are correct.
py37 and py310 are not.

[2022-10-13 11:53] nedbat commented on #991
@freakboy3742 I don't understand why there's no output from the combine step.  I've added a more distinctive version marker to the branch.  Can you try running with nedbat/bug991 again?

[2022-10-14 05:27] freakboy3742 commented on #991
Ok - that seems to have worked. Running on Briefcase hash 385a4aa1:

<details>
   <summary>Coverage install</summary>

[code]
</details>

<details>
   <summary>python -m coverage combine --debug=sys,config,pathmap</summary>

[code]
</details>

<details>
    <summary>python -m coverage report</summary>

[code]
</details>

[2022-10-15 09:34] ishandutta2007 opened #1469 "I want to read the coverage report programatically , is there any API?"
**Is your feature request related to a problem? Please describe.**
I want to read coverage data programatically , is there any API?

**Describe the solution you'd like**
Ideally I would like an API but for the time being if someone helps me on how to read the report opening the ".coverage" file that  should suffice.

**Describe alternatives you've considered**
Currently I am running "coverage repo

[2022-10-15 10:59] nedbat commented on #1469
Use the JSON report: https://coverage.readthedocs.io/en/6.5.0/cmd.html#cmd-json, or the data API: https://coverage.readthedocs.io/en/6.5.0/api_coveragedata.html

[2022-10-15 10:59] #1469 closed, assigned to nobody

[2022-10-15 16:06] adam-grant-hendry commented on #1459
Glad I could help!

That's a good thought, but the [`scriv/setup.cfg`](https://github.com/nedbat/scriv/blob/a2b5f8757c01ca2c76dd79d6a5dd3898ad34a5fa/setup.cfg#L84) settings for `coverage:paths` use the same pattern of reporting same-named files in `*/site-packages` to those in the original source:

[code]

which is how I discovered that I should write my `pyproject.toml` configuration like so in t

[2022-10-15 18:23] nedbat commented on #991
I'm marking this as fixed as of commit 7df8609f.

[2022-10-15 18:23] #991 closed, assigned to nobody

[2022-10-15 18:25] nedbat commented on #991
But I think because of #1407, there will be larger changes to how file wildcards are interpreted.

[2022-10-15 19:26] nedbat commented on #1280
Sorry for the long delay on this.  Is anyone here still experiencing this problem and can provide new steps to reproduce it?

[2022-10-15 20:05] amykyta3 commented on #1280
Yeah I just confirmed my steps will still reproduce it.
I have pushed a branch that simplifies the testcases a bit:

* Clone https://github.com/SystemRDL/systemrdl-compiler
* Checkout the branch `tmp/coveragepy`
* cd to the `test` folder
* ./run.sh
* Observe that coverage is 0%
* in the `.coveragerc` file, comment out the `relative_files = True` setting
* Run tests again
* Observe coverage is repo

[2022-10-15 22:25] nedbat commented on #1280
If I make this change to run.sh:
[code]
Then I get 95% coverage:
[code]
So perhaps this is a problem with pytest-cov?

[2022-10-15 22:34] amykyta3 commented on #1280
Oh cool! I didn't realize you can do that.

I'll flag this with the pytest-cov folks. Thanks for looking into it!

[2022-10-15 22:35] amykyta3 commented on #1280
Oh wait.. thats not right. It seems to be reporting the coverage of the testcases, not the actual source code

[2022-10-15 23:56] nedbat commented on #1280
Oops, I was so focused on the total, I didn't notice the file names.  I'll dig into it.

[2022-10-17 05:32] CobaltCause opened #1470 "`--fail-under X` where X > 0 should pass on files with no statements"
**Describe the bug**
If I have a file with no statements, `coverage report` correctly says that the coverage is 100%. However, `coverage report --fail-under 100` will fail because it thinks the coverage is 0%.

**To Reproduce**
1. Use Python 3.10
2. Use Coverage 6.4.4 with C extension

[code]

**Expected behavior**
I would expect this to succeed with no error, it says right above that the coverage

[2022-10-17 13:59] MalteBecker opened #1472 "exclude_lines block exclude does not work correctly with new line def"
**Describe the bug**
I want to exclude complete functions with the exclude_lines config parameter. The documentation says this works if i just add "def xyz". This only works if the def definition ends in the same line.

**To Reproduce**
Have "def asyncio" in your [report] exclude_lines

This will work:
[code]

This will not work:
[code]

**Expected behavior**
Both versions will exclude the complet

[2022-10-17 14:57] nedbat commented on #1470
Hmm, I see your point!  For some reason, seven years ago in https://github.com/nedbat/coveragepy/commit/d20a77c9cf1bdba8cf003f24681503313253389b, we added a test specifically to check that an empty file would fail-under=99.   Maybe the behavior of empty files has changed since then? Was it 0% back then?

[2022-10-17 15:03] CobaltCause commented on #1470
A mystery. One other thing to point out, since it's only in the title, is that this happens with any value for `fail-under` greater than zero. For example, `coverage report --fail-under 1` also causes coverage to exit with code 2.

[2022-10-18 01:25] nedbat commented on #1472
This is a duplicate of #684.

[2022-10-18 01:25] #1472 closed, assigned to nobody

[2022-10-18 14:47] timfel opened #1474 "coveragepy can only work on CPython or PyPy?"
At the top of the `env.py` file, Jython and IronPython are recognized besides CPython and PyPy. However, line 88 (linked in this issue) assumes that coveragepy runs on either PyPy or CPython - if `CPYTHON` is `False` (as it is on e.g. Jython and IronPython, but also on [GraalPy](https://github.com/oracle/graalpython)), this raises `NameError: name 'PYPYVERSION' is not defined`

https://github.com/

[2022-10-19 02:08] nedbat commented on #1474
The logic on these lines can get convoluted, and maybe I messed this one up.  Are you running into a problem on another platform?

(BTW: how did you create this issue? Usually there's a "needs triage" label on new issues...)

[2022-10-19 03:32] nedbat commented on #1466
Different versions of Python change the precise behavior of the trace function, which affects what coverage.py can learn about a program.  Coverage.py tries to adapt, with version-specific changes.

For your case, there's [this in the coverage/env.py file](https://github.com/nedbat/coveragepy/blob/a3c8683f8e46590c145e16c1aebf7a7766513890/coverage/env.py#L65-L69):
[code]

Python has gone back and f

[2022-10-19 03:32] #1466 closed, assigned to nobody

[2022-10-19 07:18] timfel commented on #1474
Yes, this line crashes when we run on GraalPy :)

Hm, I just selected the line in the code view and clicked "Reference in new issue"

[2022-10-19 09:58] timfel commented on #1474
I guess it could just be `report_absolute_files = ((CPYTHON or (PYPY and PYPYVERSION >= (7, 3, 10))) and PYVERSION >= (3, 9))`

[2022-10-19 13:39] Cephas-Kingori opened #1475 "Ability to specify the absolute source path in the source tags of the coverage.xml file generated"
**Is your feature request related to a problem? Please describe.**
When the gitlab pipeline runs in a normal pipeline and generates the coverage.xml file, the following is a sample of the output file generated:
[code]
This is good and works well to integrate it with the gitlab code visualization.
However, in a scenario where  the coverage command is not being run from the /builds path in gitlabci;

[2022-10-19 14:50] nedbat commented on #1418
This is an interesting idea.  Maybe someone wants to make a pull request for it.  Some thoughts:

The markdown should use right alignment for the numeric columns:
[code]
| Name               | Stmts      | Miss     |    Cover |
| ------------------ | ---------: | -------: | -------: |
| my_program.py      |         20 |        4 |      80% |
| my_module.py       |         15 |        2 |      86%

[2022-10-19 17:26] ahogen commented on #1376
This dependency spec seems to help, when using `pytest-cov` as well.

[code]

[2022-10-19 18:31] nickeldan opened #1476 "Automatically ignore lines containing just an ellipsis"
It is common practice, when defining a `typing.Protocol`, to put in an ellipsis as a method stub:

[code]

Since the stubs are never actually called, I have to manually put `# pragma: no cover` after each ellipsis.

Would it make sense for coverage to automatically not cover a line that is just an ellipsis?

[2022-10-20 00:13] nedbat commented on #1476
You don't have to add a comment to each line.  You can add to your [exclude_lines setting](https://coverage.readthedocs.io/en/6.5.0/config.html#report-exclude-lines):
[code]
Keep in mind that you have to also add the default settings here as well, since your setting will override the defaults.

[2022-10-20 00:13] #1476 closed, assigned to nobody

[2022-10-20 03:30] nedbat commented on #1391
I like this idea, but I'm not sure when I'll be able to get to it.  And I'm not sure what a good name would be.  The choices all seem a bit clunky.

[2022-10-20 03:48] #698 closed, assigned to nobody

[2022-10-20 14:18] ikonst commented on #1391
Maybe following the example of flake8's [extend_ignore](https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-extend-ignore)?

[2022-10-20 14:25] nedbat commented on #1474
This is fixed in 4668a92c.

[2022-10-20 14:25] #1474 closed, assigned to nobody

[2022-10-20 20:51] nedbat commented on #1373
I added some quick verbose debugging in branch nedbat/debug-1373.  Install it like this:
[code]
then /tmp/coverage_pth_files.txt has details.

[2022-10-20 20:51] prannoy-singh opened #1477 "def lines are marked as covered, despite not having any tests"
**Description**
Coveragepy is marking the def lines as covered, even though no tests have been added for those methods.[Attached screenshot for reference]
![Screen Shot 2022-10-20 at 1 42 05 PM](https://user-images.githubusercontent.com/93553219/197055001-efb8216d-ab48-49b8-9c14-ea7cacddaa15.png)

**Output for coverage debug sys**
[code]

**Output for pip freeze**
[code]
Repo Link -> https://githu

[2022-10-20 21:13] nedbat commented on #1477
The `def` lines are all executed when the file is imported.  They define the functions.  All of your functions are defined, whether you call them or not.

It might be disappointing to have a moderate coverage total when no tests have been written yet, but it is accurate.

[2022-10-20 21:13] #1477 closed, assigned to nobody

[2022-10-21 01:14] nedbat commented on #1477
Thanks for this issue. I took the opportunity to add an FAQ about it in dc996d32.

[2022-10-21 01:16] nedbat commented on #1440
Feel free to re-open this when you come back to it.

[2022-10-21 01:17] #1440 closed, assigned to nobody

[2022-10-21 01:17] nedbat commented on #1435
Feel free to re-open this when you come back to it.

[2022-10-21 01:17] #1435 closed, assigned to nobody

[2022-10-21 01:18] nedbat commented on #1431
Feel free to re-open this when you come back to it.

[2022-10-21 01:18] #1431 closed, assigned to nobody

[2022-10-21 11:37] stepeos commented on #1418
I lke this feature idea, so I'll try to implement this as my first contribution.
Is there a set of coverage files that cover all cases? E.g. I've seen
`fmt_skip_covered = "\n%s file%s skipped due to complete coverage."`
in the source code.

[2022-10-21 14:19] nedbat commented on #1418
Hi, thanks! I'm not sure what you mean by a set of coverage files.  The test suite doesn't have stored coverage data files, it generates them as needed.  The test suite is large and weird, so it's not always easy to find the right place to tap into it.  Let me know if I can add to the contributing docs to help you navigate, or ask here if you need more guidance.

[2022-10-22 10:52] stepeos commented on #1418
So far, this is what I've come up with. [(https://github.com/stepeos/coveragepy)](https://github.com/stepeos/coveragepy/blob/b2224765db03ceb40435df7585ed33620a18c861/coverage/summary.py#L86)
[code]

| Name                                                                                         |  Stmts |   Miss |  Cover |  Missing |
|-----------------------------------------------------------------

[2022-10-22 13:07] stepeos commented on #1418
@nedbat
Thanks for the offer. Here's my question. I'm trying to run the unit tests of test_summary.py , but all tests using `run_command` (e.g. https://github.com/stepeos/coveragepy/blob/b2224765db03ceb40435df7585ed33620a18c861/tests/test_summary.py#L632 )fail, since I work in an environment without coverage installed. Obviously I get the output:
`$ /bin/sh: 1: coverage: not found`
How do I best g

[2022-10-22 14:16] nedbat commented on #1418
Hi, thanks so much for taking this on! It would really help me to understand how you discovered what to do.  I tried to write instructions for contributions and running tests, but they might be in the wrong place, or hard to find, or out of date.  Your new eyes are a valuable resource for improving them.  What instructions were you following?

[2022-10-23 09:48] timfel commented on #1474
Thank you!

[2022-10-23 13:01] stepeos commented on #1418
###  How I discovered what to do:
I cloned the repor and inserted an ordinary coverage file that I created just for the purpose of this contribution.
I then debugged to understand the process of how to report is printed to stdout.
You already mentioned, that the summary.py is the main mechanism behind the reporting, which was my first clue.

### About the testing:
I read [here](https://coverage.re

[2022-10-23 17:39] nedbat commented on #1418
But is there a nice way of debugging tests in vscode, that's not in the documentation?

Sorry, I don't have experience with VSCode.  Can you show what happened when you try to use its testing extension?

I'm not sure which requirements you used.  `requirements/pytest.txt` mentions pytest-xdist and hypothesis, and it's used by tox.ini, so I'm not sure what's going wrong.

[2022-10-23 22:50] adam-grant-hendry commented on #1459
@nedbat Following up on this before it gets too far away from us. Can you please explain why `paths` are listed like this?

[2022-10-23 23:01] stepeos commented on #1418
So with a fresh mniconda environment, after
`$ pip install -r requirements/dev.pip`
-> `zsh: command not found: tox`
I can see, that tox is dev.pip, however, this is probably a problem of my configuration?...

Also, when I run tox, I get some errors, but only for py311,pypy3 and py39
[code]

[2022-10-24 11:01] nedbat commented on #1280
Making progress... This patch makes your code work:
[code]
But it makes one test in the suite fail, working on that.

[2022-10-24 11:03] nedbat commented on #1475
Have you tried using the `[paths]` configuration option with the `coverage combine` command?  https://coverage.readthedocs.io/en/6.5.0/config.html#paths

[2022-10-24 19:04] Rogdham opened #1480 "Coverage on `break` keyword missing in some Python versions"
**Describe the bug**

Consider the following code:
[code]

Coverage on the `break` keyword is missing in Python 3.8 and 3.9, but working in other versions:
 - ✔️ Python 3.7.15
 - ❌ Python 3.8.15
 - ❌ Python 3.9.15
 - ✔️ Python 3.10.8
 - ✔️ Python 3.11.0rc2

**To Reproduce**
Save the previous code snippet as `a.py` and run `coverage run a.py && coverage report -m`.

[code]

Testing different Python

[2022-10-24 20:05] nedbat commented on #1480
This is an artifact of differences in how different Python versions optimize code, and trace code.  The else/break was optimized away starting in 3.8, and tracing was improved in 3.10 to make it apparent again.  There's nothing coverage.py can do about this.

[2022-10-24 20:05] #1480 closed, assigned to nobody

[2022-10-24 20:17] Rogdham commented on #1480
Thank you so much for the quick reply!

I can now see that this seems to be a common problem but I didn't think about searching closed issues, only open ones :man_facepalming:  Sorry for the noise!

[2022-10-26 17:25] AndydeCleyre opened #1481 "On Windows only (via GHA): TOML parsing error: "Couldn't read config file pyproject.toml: Unescaped '\' in a string""
**Describe the bug**

I have [a pyproject.toml](https://github.com/AndydeCleyre/nestedtextto/blob/f5a2014f9a3baa09286d31495197f57650c520a9/pyproject.toml) which includes an entry:

[code]

It's in a section unrelated to test running or coverage operations.

This seems fine on Linux and MacOS, but as I add a Windows 2022 runner to [the coverage-invoking GitHub Actions workflow](https://github.com/A

[2022-10-26 17:43] AndydeCleyre commented on #1481
I'm realizing this is probably a tomli issue, rather than belonging here.

[2022-10-26 19:41] AndydeCleyre commented on #1481
As per comments at hukkin/tomli#210, I was unable to reproduce using only tomli.

[2022-10-26 19:45] hauntsaninja commented on #1481
Like I mentioned on the tomli issue, I suspect this is related to the substitution stuff coverage is doing. Could you check the following snippet?
[code]
Could you also provide the value of the VIRTUAL_ENV environment variable on the systems you see the issue on?

[2022-10-26 20:09] AndydeCleyre commented on #1481
That snipped succeeds in the environment, when defined as:

[code]

I'm seeing `'VIRTUAL_ENV': 'D:\\a\\nestedtextto\\nestedtextto\\.nox\\tomli_check-3-10'`

[2022-10-26 22:43] nedbat commented on #1481
I'll have to figure out how to test this, but the theory about coverage.py's substitution is a good one. For other configuration files, we substitute each value individually.  For toml we (incorrectly) perform substitution on the text of the entire toml file before parsing.

[2022-10-26 22:53] nedbat commented on #1481
Though, toml is typed, so values are retrieved as ints, bools, lists, etc, so we can't wait until we've read the value to do substitution... Hmm.  Looking for clever ideas here.

[2022-10-26 23:03] hauntsaninja commented on #1481
I think it might be okay to substitute after loading the value? Maybe we can get away with just doing something like:
[code]
Or is the concern backwards compatibility, e.g. that people had (invalid) "TOML" like `x = $env` that became valid TOML once substituted? If so, I think it might be okay to break... pyproject.toml should be valid TOML / many other tools that read from pyproject.toml would br

[2022-10-26 23:13] nedbat commented on #1481
I'm not concerned about weird meta-toml like you showed :)   The point wasn't to insert gobs of toml, it was to have substitution in strings before they were parsed as values.  The recursive solution looks like it could work, thanks.

[2022-10-27 12:09] nedbat commented on #1481
The failure can be reproduced on any OS if a line references an environment variable:
[code]
and OTHER has a backslash that isn't a valid escape:
[code]

[2022-10-28 02:07] nedbat commented on #1481
I think I have it all fixed, can you give it a try?:
[code]

[2022-10-28 04:54] AndydeCleyre commented on #1481
Yes, that's working just fine alongside the funky TOML line in CI now, thanks!

[2022-10-28 08:31] allisonkarlitskaya commented on #1415
In case anyone else stumbles upon this: I just discovered the existence of [`pytest-cov`](https://pypi.org/project/pytest-cov/), which makes this all quite a bit nicer.

It basically allows to replace the separate commands with a single `pytest --cov` invocation, and the paths merging works properly with this, as well (although it still needs to be explicitly given in the coverage config).

[2022-10-28 13:19] nedbat commented on #1481
This is now fixed in commit b3a1d979f8625e4974eaa7211cdecb211ba90b50

[2022-10-28 13:19] #1481 closed, assigned to nobody

[2022-10-30 20:21] nedbat commented on #1407
This is now fixed in commit ec6205a8.

[2022-10-30 20:21] #1407 closed, assigned to nobody

[2022-10-30 20:22] nedbat commented on #1280
This is now fixed in commit 45cf7936.

[2022-10-30 20:22] #1280 closed, assigned to nobody

[2022-10-30 20:26] rmorshea opened #1482 "Warn Unused Coverage Exclusion"
**Is your feature request related to a problem? Please describe.**

Consider a case where you exclude code from coverage reports because, for whatever reason, the code cannot be covered by your test suite. Then at some time in the future, you make changes that cause that same code to become covered. However, you forget that you've excluded this code from coverage and do not realize that you will n

[2022-10-30 20:51] nedbat commented on #1459
I see this line in your debug output:
[code]
This was under your old rules:
[code]
where indeed, there is no match, since the path has no `.tox` in it, not to mention the rest of the pattern.

You changed your rules to:
[code]
(which btw, could be simpler, since the first item, the map-to, is the same in both:)
[code]
Now the path is matched by `*/qtpygraph`, so it is remapped to be `qtpygraph/qtp

[2022-10-30 20:51] #1459 closed, assigned to nobody

[2022-10-30 21:18] adam-grant-hendry commented on #1459
Thank you @nedbat! Thank you also for `coverage.py`, your wonderful `PyCon` talks, and all your contributions to the Python community! I hope all is going well.

[2022-10-30 21:24] nedbat commented on #1117
It's definitely strange that the two seemingly equivalent ways of specifying `source` would produce different results, and that should be fixed.

But I'm struggling to understand why either outcome is wrong.  To use a shortened form of the output, with the command line option, you get an XML file like:
[code]

With the .coveragerc option, you get:
[code]

The output is different, but in both, if y

[2022-10-30 22:36] nedbat commented on #1482
Thanks, this is an interesting idea.

You are right that some people exclude lines from coverage not because the lines won't be run, but because they don't care if they are run or not.  So warning that the excluded lines were run might be annoying noise for them.  I don't know how to strike that balance though.  It leads me to thinking that `warn_unused_exclude` could be a list of regexes which ar

[2022-10-30 22:36] #1482 closed, assigned to nobody

[2022-10-31 01:12] nedbat commented on #1345
I believe this is fixed as of commit 44fbd3b0.  Would you be able to try the latest coverage from master to see?
[code]

[2022-10-31 01:16] nedbat commented on #1345
This is fixed as of commit https://github.com/nedbat/coveragepy/commit/44fbd3b02ad22326767dc37fe3b94aa93b36e8a3.

[2022-10-31 01:21] #1345 closed, assigned to nobody

[2022-10-31 01:41] nedbat commented on #1341
I want to understand what's going wrong here more, but:

The help for `coverage run` says:
[code]
The [docs for specifying source files](https://coverage.readthedocs.io/en/6.5.0/source.html) say:

If you have suggestions for how to make it clearer that `include` needs a pattern, I'm open to them.

[2022-10-31 11:11] nedbat commented on #991
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:11] nedbat commented on #1407
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:11] nedbat commented on #1280
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:11] nedbat commented on #1481
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:11] nedbat commented on #1345
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:11] nedbat commented on #1474
This is now released as part of [coverage 6.6.0b1](https://pypi.org/project/coverage/6.6.0b1).

[2022-10-31 11:14] Kludex commented on #1324
The fix is on CPython 3.11 and 3.10. There's no backport for 3.8.

[2022-10-31 11:17] vytas7 commented on #1324
AFAICT this works correctly on CPython 3.8. There is no backport to 3.9.

[2022-10-31 11:18] Kludex commented on #1324
Sorry, I've misread the description. Yep, what you said. :pray:

[2022-10-31 12:01] #1324 closed, assigned to nobody

[2022-10-31 15:52] tanmayzengit opened #1483 "Speed up Time for Coverage Combine"
**Is your feature request related to a problem? Please describe.**
I am trying to setup a code coverage representation for my pull requests for specific number of tests. Using coverage combine to combine all the data files takes a lot of time which is not very ideal. Is there a quick resolution for this. I tried moving to 5.0 but the combine performance degraded from previous versions which has pi

[2022-10-31 17:22] nedbat commented on #1483
Can you provide some more details?  Ideally, you'd link us to your repo so that we can see the behavior you are seeing.  But even if you can't do that: how long is combine taking? How many data files do you have, and how large are they?  Can you show us the output of `coverage debug data` before the combine step?

[2022-10-31 17:49] tanmayzengit commented on #1483
Linking the repo would not be possible but, i can adda little context here.
I have updated coverage version from 4.0a6 -> 5.0.0 and was expecting an improvement in combine time.
Combine time before-> ~45 mins
Combine time after -> ~95 mins
The data files are around ~8500 with parallel and multiprocessing configurations which gives the total data.
coverage debug data gives nothing because we dont h

[2022-10-31 18:13] nedbat commented on #1483
Why are you only updating to 5.0.0?  Can you try 6.5.0?
You say you have 8500 data files?  Are you running your test suite 8500 times? Maybe I'm misunderstanding something.

[2022-10-31 18:20] tanmayzengit commented on #1483
Eventual goal is to move to the latest version but currently need python 2.7 support thats why 5.0
So by data file i dont mean .coverage final data file, For every subprocess i am generating a separate coverage file (as i said multiprocessing and parallel flag [check here](https://coverage.readthedocs.io/en/6.5.0/subprocess.html#subprocess)) and combining them gives me .coverage file which has the

[2022-10-31 18:31] nedbat commented on #1483
Please try 5.5 (`pip install coverage==5.5`).  It's the latest version that runs in 2.7.

[2022-11-01 03:40] amykyta3 commented on #1280
Confirmed on my end. Thanks!

[2022-11-01 17:32] stevenhoelscher commented on #1345
Works, thanks so much!

[2022-11-03 10:57] nedbat commented on #1445
I don't understand why you are deleting a directory you need.  If you can provide more details, feel free to re-open this issue.

[2022-11-03 10:57] #1445 closed, assigned to nobody

[2022-11-03 15:58] DanCardin commented on #1341
I dont remember writing that 😅, the content in the docs seems clear enough. Instead it might be better to warn in the event that includes are supplied which ultimately result in no matches? But honestly that's more of an unrelated feature request.

More relevant to the bit where i said "Alternatively, if this is difficult to work around", i guess i'd now instead suggest warning if xdist is detecte

[2022-11-03 23:22] nedbat commented on #1421
This is now fixed in b34bd149.

But I have to ask: do you really use cases like this? Why have `case "default" | _:`, since it will behave just like `case _:`?

[2022-11-03 23:22] #1421 closed, assigned to nobody

[2022-11-04 01:55] nedbat commented on #1341
Definitely this is because you have to configure coverage.py to measure subprocesses. You can do that a number of ways:
1. Use the steps in https://coverage.readthedocs.io/en/6.5.0/subprocess.html
2. Use the coverage-enable-subprocess package
3. Use pytest-cov

It might be time for coverage.py to have a better way to do this itself...

[2022-11-04 10:23] nedbat commented on #1410
Hi, sorry this has taken me a while to get to.  It looks like your pull request was https://github.com/rpy2/rpy2/pull/889.  It's now merged, does that mean the hang is fixed? I can't tell from the comments there, and I don't have a Windows environment to test in.

[2022-11-04 10:28] nedbat commented on #1423
Hi, sorry it's taken me so long to get to this.  I don't know what application you are running, so it might be difficult to debug.  I see you have `environment=COVERAGE_PROCESS_START="coverage.ini"`.  I assume you have a coverage.ini file.  Does it fix the problem to use an absolute path there instead?

[2022-11-04 11:11] nedbat commented on #1333
@adamchainz @ikonst I can definitely reproduce what you are seeing.

I don't understand yet why it's a difference between 5.5 and 5.6b1, since the specific code involved in analyzing those cases and output the condition (which you can see in the HTML report: "line 2 didn't finish the generator expression on line 2") didn't change between those two versions.

But to the larger question: is it usefu

[2022-11-04 11:45] nedbat commented on #1333
For completeness, git bisect says 3cd4db3248fe48c3a531855227a9b2a3846e0110 is when this behavior started.

[2022-11-04 12:15] nedbat commented on #1341
This is related to #367 and #378.

[2022-11-04 15:21] tikuma-lsuhsc commented on #1410
I think the owner of `rpy2` let it slide for Windows coverage check (like you he's on non-Windows platform). I caught this behavior when I was testing my PR independently from the CI. I'm suspecting the tracer does not line a certain lines in the `robjects/lib` code, but that's about as far as I could track down.

[2022-11-05 17:20] nedbat commented on #1418
This was done in #1479, and finished in 01d86775522ed67a246f2b17657e7a119cb6b8a1.

[2022-11-05 17:20] #1418 closed, assigned to nobody

[2022-11-06 11:22] MarDiehl opened #1484 "Multiprocessing reporting not working"
**Describe the bug**
Code executed by `multiprocessing.Pool` is not counted.

**To Reproduce**
Tested on Arch Linux (Python 3.10.8, coverage.py 6.5, pytest 7.2.0). To reproduce, make sure to have
[code]
and run

[code]
The issue is most obvious for `_result.py`. It has many static methods (e.g. `_add_absolute`) which are executed in parallel.

**Expected behavior**
Expected is a coverage of `_resu

[2022-11-06 12:02] MarDiehl commented on #1484
Note: I've downgraded coverage.py to 5.5 on the setup on which I first detected the issue and I can still reproduce it. So it could be that an adoption to newer Python versions is needed.

[2022-11-06 19:04] nedbat commented on #1470
This is now fixed in commit d5c3daa5.

[2022-11-06 19:04] #1470 closed, assigned to nobody

[2022-11-07 11:55] nedbat commented on #1483
Two more ideas for you:

1. Instead of using parallel, try using append to put more data into each file.  You have to coordinate to be sure that simultaneous runs (for example with pytest-xdist) don't try to use the same file.

2. I wonder how much unique data is in your data files?  I used a small program to assess the uniqueness of my files, and found that 1111 files had 1028 unique fingerprints

[2022-11-07 12:12] nedbat commented on #1483
Oh, coverage.py writes a timestamp into the data file.  If I remove that, then my 1111 files have only 761 unique hashes.

[2022-11-07 16:29] tanmayzengit commented on #1483
So i found a similar issue https://github.com/nedbat/coveragepy/pull/765/files
I could not acheive any better results though when i moved to version 5.5

Not sure if this works as expected with multiprocessing though. So i my case the parent process creates a .coverage file and all the child process keep rewriting that file so i was having issues with it. switching to parallel helped solve the iss

[2022-11-07 21:51] nedbat commented on #1483
You can install coverage.py from an experimental branch:
[code]
It will check the hashes of the files, and skip duplicates automatically.  Let me know if you can try it, and what the results are.  The final reports should all be exactly the same, but the `combine` time should be shorter.

[2022-11-07 22:29] ShaheedHaque commented on #1454
It occurred to me that since the "missing" coverage data is definitely captured (in at least some cases), the problem might be in the gather of the multiple coverage data files. So, I thought I might try to dump the content of the data files to investigate further, using SQL access.

I am able to dump the `file` table using something like this:
[code]
However, I'm having trouble "join"ing the file

[2022-11-08 03:28] tanmayzengit commented on #1483
Ahh Ok. I ll try and do it with coverage 5.5 as base for the experimental branch and update any improvement here

[2022-11-08 13:04] ShaheedHaque commented on #1454
Silly me: I finally worked out that the "line_bits" and "arc" tables are alternatives. So on to the next question... My dumping code now looks like this:
[code]
and produces output like this:
[code]
What is the significance of the negative numbers?

[2022-11-08 20:45] ShaheedHaque commented on #1454
Answering my own question: https://stackoverflow.com/a/37312317/6332554 explains the negative line numbers.

[2022-11-09 13:18] adamchainz commented on #1333
If it’s possible to mark it as covered if at least one iteration occurs, that seems like a reasonable approach to me.

[2022-11-09 15:02] layoaster commented on #938
I'm also in the situation of a CI pipeline that have the ability to display HTML files (on the pipeline tool UI) so I can see the report main page but since Argo is setting the Content Security Policy [header](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP), CSS styles are disabled and you can't browse the per-module pages.

The pyest-html plugin has an option to create [self contained repo

[2022-11-09 15:58] pavel-rezabek commented on #1429
Hi, I also have this problem. It is not happening consistently, using the `PYTEST_ADDOPTS="--cov --cov-report=html" python setup.py test` command line.
Experiencing on wsl Ubuntu 20.04.5 with python 3.9.13, coverage==6.5.0, pytest-cov==2.7.1 and pytest==5.0.0

I get a warning instead of an error (paths abbreviated):
[code]

[2022-11-09 19:12] Kludex commented on #831
@nedbat Is the `else` from a `if not TYPE_CHECKING:` supposed to be supported as well? If yes, any tips where I can implement this part?

[2022-11-10 02:18] nedbat commented on #938
I'm not opposed to doing something like this, but I don't understand the mechanics.  @layoaster the sample you showed has just a single line of output to show, as an expand/collapse.  The coverage.py reports are more like multi-page reports that have to be re-engineered to be in a single HTML file.

I'm also a bit concerned because some options (like contexts) make for large pages.  Putting all of

[2022-11-10 11:55] layoaster commented on #938
Agree with you. The pure-HTML solution for a single page is far from ideal. In my particular case, the size wouldn't be an issue but I understand it might potentially be for most other use cases.

Wish I could do more to help but I have zero skills on the web/frontend side ...

[2022-11-10 12:00] bromiao123 commented on #1429
I don't know about the pytest, But would you like to see if the ".coverage" data file exist?
And if your ".coverage" data file is rewriting when you excuting your command?

[2022-11-10 14:17] ghost opened #1485 "the code coverage of Cloud-Init is incorrect. What's wrong?"
**Describe the bug**
Test cases are executed, but coverage data is not collected.
![image](https://user-images.githubusercontent.com/42333849/201114820-8f87c725-08f8-492f-82df-e6073cf00d70.png)
![image](https://user-images.githubusercontent.com/42333849/201114903-60e8ff6d-11cd-47e1-9969-f009177d0995.png)
These functions are invoked in the test case. However, the coverage rate obtained is problemat

[2022-11-10 14:31] nedbat commented on #1483
This is now merged to coverage.py master, but it won't run on Python 2.  I'd be interested if you could find a way to run it in your environment.

[2022-11-10 14:52] lukasjuhrich opened #1486 "`--omit` command line flag and config values are not merged"
**Describe the bug**
_I hope this is not a duplicate, I've looked for a while_

I am in a situation where I do not have control over the `--omit` flag under which the coverage process is ran (pycharm does that for me and it is not configurable). However, I have control over the `coveragerc`.

Unfortunately, the `--omit` flag seems to overwrite both the `[run]` and the `[report]` sections' `omit=`

[2022-11-10 17:06] pavel-rezabek commented on #1429
Hi, I figured out the problem with my .coverage file. I was launching my tests from a commandline in VSCode and due to some reason, VSCode was launching pytest discovery at the same time, resulting in the coverage file being overwritten.
I used sqlite database viewer to look into the .coverage file to find this in the `meta` table:
sys_argv | ['/home/<user_name>/.vscode-server/extensions/ms-python

[2022-11-11 02:48] ljmc-github commented on #1421
@nedbat I was refactoring some code and unifying `"default"` and fallback cases, I mindlessly combined them into `"default" | _` before running the tests. That’s when I saw the missed coverage and decided to report, I did simplify to just fallback after that.

[2022-11-11 10:41] nedbat commented on #1486
This would be a change in how the command line arguments are used.  Can you tell me more about how PyCharm is setting the omit option, and how you are trying to set it? I haven't heard of it doing this before.

[2022-11-11 11:29] nedbat commented on #1485
It's hard to diagnose the problem without seeing the code or the test suite.

I cloned https://github.com/canonical/cloud-init, and ran `tox -e py3; .tox/py3/bin/coverage html -i`, and got this result:

<img width="533" alt="image" src="https://user-images.githubusercontent.com/23789/201331162-40f99a52-1da2-44be-8b39-5b48eddc9ab9.png">

I notice that my line numbers are different than yours, so I'

[2022-11-11 13:05] nedbat commented on #1484
Thanks for the detailed instructions.  But I'm not seeing the difference in results that you are: Here are my numbers for \_result.py:
coverage==6.5, pytest==7.2.0: 86%
coverage==6.2, pytest==7.2.0: 86%
coverage==6.2, pytest==6.2.5: 86%

Are there other factors we haven't considered?

[2022-11-11 17:43] nedbat commented on #1117
I changed my mind: it's not strange at all.  The `coverage xml` command has different settings under the two scenarios.  If you change the "command line" scenario to use `coverage xml --source scripts`, then it works fine.  However you provide the `source` setting, you need to be sure all the coverage commands get it.  Putting it in the .coveragerc file is the easiest way to have consistent settin

[2022-11-11 17:43] #1117 closed, assigned to nobody

[2022-11-12 02:18] ghost commented on #1485
Sorry, I'm not using the latest version. I know why the problem occurred before. I run coverage run test_xxx.py, but test_xxx.py does not have the main function entry.

[2022-11-12 02:45] ghost commented on #1485
Sorry, I did not use tox. After using tox, the problem was solved. Thanks.

[2022-11-12 02:45] #1485 closed, assigned to nobody

[2022-11-12 09:49] lukasjuhrich commented on #1486
@nedbat I'm running „$FOO with coverage“ with a docker-compose based python interpreter.

Inside the container, a command like the following is run:

[code]

The `run_coverage.py` is a wrapper around `coverage.py`, which passes `argv` as is.
You see that it passes the pycharm helpers folder to the `--omit`-flag.

In my coveragerc however, I want to omit migrations; the entries are

[code]

since I

[2022-11-12 13:41] nedbat commented on #1443
Thanks for the detailed instructions.

When I run them though, I don't have the same results you do.  My artifacts/coverage/salt.xml file has:
[code]
Have you perhaps fixed something since you wrote the issue?

[2022-11-12 19:44] MarDiehl commented on #1484
Maybe it is related to the Python version. I got the high coverage for 3.8.x but not for 3.10.x

[2022-11-13 04:26] seanxiaoyan commented on #1443
Thanks for the reply. Could you attach the log file and XML output you obtained?

[2022-11-13 12:11] nedbat commented on #1443
Sure: [bug1443.zip](https://static.nedbat.com/temp/bug1443.zip)

[2022-11-13 12:18] nedbat commented on #1321
Hi, sorry I've let this wait for so long.  Can you tell me more about your arrangement? Can you link to your repo? What would your custom file mapper do exactly?

There are many options that are not supported on the command line.  I didn't want to clutter the command line options, and people usually have a configuration file they can use (.coveragerc, setup.cfg, tox.ini, or pyproject.toml).  Do yo

[2022-11-13 12:20] nedbat commented on #1322
A number of people have written in to say they still use `annotate`.  Perhaps I will change the message to something like, "this feature won't get much attention, look into alternatives" or something...

[2022-11-13 13:03] nedbat commented on #1325
Sorry I've let this sit for so long...

In the meantime [I made a change in coverage.py](https://github.com/nedbat/coveragepy/pull/1347), does that improve things?  I don't have a Windows machine to test on, but I can try the other reproduction instructions if they work on Linux.

[2022-11-13 14:17] nedbat commented on #1417
Thanks, and sorry for letting this wait for so long.

This is an interesting report, but I think the fault is with `run_path`, not with coverage.py.  I've written a bug report against CPython: https://github.com/python/cpython/issues/99437.  There you can see that also the `inspect` module fails in a similar way.

I'll leave this issue open until we see how CPython responds.

You probably already

[2022-11-13 19:33] nedbat commented on #1420
I tried reproducing the problem with simpler code that didn't involve Django, but a similar structure:

test_code.py:
[code]

But it stops at the same place with pdb or pdb under coverage:
[code]

This is with coverage.py==6.5.0, but I had the same results with 6.4.2.  Is there something particular about the Django-involved tests, or did I miss some other important factor here?

[2022-11-13 23:00] nedbat commented on #1383
@createdbysk Your problem seems to be the opposite of the issue described at the top: you have a `__init__.py` file.  Can you try changing your `source=` setting from `src/**` to just plain `src`?  If that doesn't work, please open a new issue.

[2022-11-16 11:52] mj026 commented on #1420
@nedbat It might be that the `pytest-coverage` plugin is causing something odd here. I've made a repository with a minimal reproduction use case: https://github.com/maerteijn/coveragepy-1420

[2022-11-16 13:40] jayaddison opened #1488 "[low-prio] Possible bug: files without extensions misidentified as Python?"
**Describe the bug**
While running `pytest` with `coverage` (v6.5.0) for `sphinx`, I noticed an unusual warning in the output logs:

[code]

Digging into the code to figure out where that's coming from, I found this conditional block:

https://github.com/nedbat/coveragepy/blob/0ac24533e7f167518b8653d423de5ff7d6229a42/coverage/python.py#L240-L242

**To Reproduce**
How can we reproduce the problem?

[2022-11-16 21:03] Jacob-Stevens-Haas commented on #1417
Thanks @nedbat, really appreciate the follow up and investigation :)

[2022-11-17 11:34] #1383 closed, assigned to nobody

[2022-11-17 12:23] nedbat commented on #1383
This was finished in commit 709c7443.

[2022-11-19 03:23] OverLordGoldDragon opened #1491 "Impossible coverage result (without loop)"
Simply rerunning `pytest --cov=mypkg tests/`, changing nothing else, fixes it, and it's now the second time this randomly popped up. Affected 200+ lines out of 800, within just one file.

<img src="https://user-images.githubusercontent.com/81261009/202831573-ce1ccfc3-4fce-4c15-8b81-2bc18cfd5bf9.png" width="400">

Python 3.10.4, coverage 6.5.0, Windows 10. I don't have public code or CI to provide,

[2022-11-19 17:26] nedbat commented on #1491
Usually a situation like this is because an exception happened on the last executed line. I don't see how you could be getting an exception from `log2_F_phis = {}` though.  Is there something else that could be interfering with the execution of this function?